<div class="section page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-9">
        <article role="article" class="article">
          <header role="banner" class="article__header">
            <h2 class="h3 article__title">
              <a href="#">Post title</a>
            </h2>
            <em class="article__date">
              <time datetime="2019-06-30">June 30 2019</time>
            </em>
            <a href="#">2 comments</a>
          </header>
          <a href="#" class="article__img">
            <picture>
              <source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'375x' }}, {{ 'img-placeholder.png' | asset_img_url:'750x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              <source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'587x' }}, {{ 'img-placeholder.png' | asset_img_url:'1714x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              <img data-src="{{ 'img-placeholder.png' | asset_img_url:'857x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </picture>
          </a>
          <div class="article__text-block">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus reiciendis et harum molestiae nisi ullam reprehenderit dicta! Dolor, facilis aliquam.</p>
            {% if settings.social_sharing_blog %}
              {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
            {% endif %}
          </div>
          <div class="article__discussion">
            <h3 class="h4">Comments</h3>
            <ul>
              <li>
                <div class="article__comment rte">
                  <div class="mb-3">
                    <b>Alex Smith</b>
                    <em>
                      on <time datetime="2019-04-14 10:39">April 14, 2019 at 10:39AM</time>
                    </em>
                  </div>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam autem animi error fuga, vitae quis.</p>
                </div>
              </li>
              <li>
                <div class="article__comment rte">
                  <div class="mb-3">
                    <b>Alex Smith</b>
                    <em>
                      on <time datetime="2019-04-14 10:39">April 14, 2019 at 10:39AM</time>
                    </em>
                  </div>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam autem animi error fuga, vitae quis.</p>
                </div>
              </li>
            </ul>
          </div>
          {% form 'new_comment', article %}
            <h3>{{ 'blogs.comments.title' | t }}</h3>
            {{ form.errors | default_errors }}
            <div class="row">
              <div class="col-sm-6">
                <div class="input-holder">
                  <label for="CommentAuthor" class="label-hidden">
                    {{ 'blogs.comments.name' | t }}
                  </label>
                  <input type="text"
                        name="comment[author]"
                        id="CommentAuthor"
                        class="{% if form.errors contains 'author' %}input-error{% endif %}"
                        placeholder="{{ 'blogs.comments.name' | t }}"
                        value="{{ form.author }}"
                        autocapitalize="words">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-holder">
                  <label for="CommentEmail" class="label-hidden">
                    {{ 'blogs.comments.email' | t }}
                  </label>
                  <input type="email"
                        name="comment[email]"
                        id="CommentEmail"
                        class="{% if form.errors contains 'email' %}input-error{% endif %}"
                        placeholder="{{ 'blogs.comments.email' | t }}"
                        value="{{ form.email }}"
                        spellcheck="false"
                        autocomplete="off"
                        autocapitalize="off">
                </div>
              </div>
            </div>
            <div class="input-holder">
              <label for="CommentBody" class="label-hidden">
                {{ 'blogs.comments.message' | t }}
              </label>
              <textarea
                name="comment[body]"
                id="CommentBody"
                class="{% if form.errors contains 'body' %}input-error{% endif %}"
                placeholder="{{ 'blogs.comments.message' | t }}">
                {{- form.body -}}
              </textarea>
            </div>
            {% if blog.moderated? %}
              <p>{{ 'blogs.comments.moderated' | t }}</p>
            {% endif %}
            <input type="submit" class="button" value="{{ 'blogs.comments.post' | t }}">
          {% endform %}
        </article>
      </div>
      <div class="col-md-4 col-lg-3">
        <aside class="blog-aside">
          <h3>Recent articles</h3>
          <div class="blog-aside__item">
            <h4 class="mb-2">
              <a href="#">Post title</a>
            </h4>
            <em>
              <time datetime="2019-06-30">Posted on June 30, 2019</time>
            </em>
          </div>
          <div class="blog-aside__item">
            <h4 class="mb-2">
              <a href="#">Post title</a>
            </h4>
            <em>
              <time datetime="2019-06-30">Posted on June 30, 2019</time>
            </em>
          </div>
          <h3 class="mb-3">Tags</h3>
          <ul class="blog-aside__tags-list">
            <li>
              <a href="#">all</a>
            </li>
            <li>
              <a href="#">tag 1</a>
            </li>
            <li>
              <a href="#">tag 2</a>
            </li>
            <li>
              <a href="#">tag 3</a>
            </li>
            <li>
              <a href="#">tag 4</a>
            </li>
            <li>
              <a href="#">tag 5</a>
            </li>
            <li>
              <a href="#">tag 6</a>
            </li>
          </ul>
        </aside>
      </div>
  </div>
</div>