<div class="section page-section">
  <div class="container">
    <div class="page-title-block text-center">
      <h1 class="h2">News</h1>
    </div>
    <div class="row">
      <div class="col-md-8 col-lg-9">
        <article class="post">
          <div class="post__text-block">
            <header role="banner" class="post__header">
              <h2 class="h3 post__title">
                <a href="#">Post title</a>
              </h2>
              <em class="post__date">
                <time datetime="2019-06-30">June 30 2019</time>
              </em>
              <a href="#">3 comments</a>
            </header>
          <a href="#" class="post__img">
            <picture>
              <source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'375x' }}, {{ 'img-placeholder.png' | asset_img_url:'750x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              <source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'587x' }}, {{ 'img-placeholder.png' | asset_img_url:'1714x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              <img data-src="{{ 'img-placeholder.png' | asset_img_url:'857x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </picture>
          </a>
          <div>
            Phone:
            <a href="tel:8127108025">812-710-8025</a>
          </div>
        </article>
        <article class="post">
          <header role="banner" class="post__header">
            <h2 class="h3 post__title">
              <a href="#">Post title</a>
            </h2>
            <em class="post__date">
              <time datetime="2019-06-30">June 30 2019</time>
            </em>
            <a href="#">3 comments</a>
          </header>
          <a href="#" class="post__img">
            <picture>
              <source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'375x' }}, {{ 'img-placeholder.png' | asset_img_url:'750x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              <source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'587x' }}, {{ 'img-placeholder.png' | asset_img_url:'1714x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              <img data-src="{{ 'img-placeholder.png' | asset_img_url:'857x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </picture>
          </a>
          <div>
            Phone:
            <a href="tel:8127108025">812-710-8025</a>
          </div>
        </article>
      </div>
      <div class="col-md-4 col-lg-3">
        <aside class="aside">
          <h3>Recent articles</h3>
          <div class="aside__item">
            <h4 class="mb-2">
              <a href="#">Post title</a>
            </h4>
            <em>
              <time datetime="2019-06-30">Posted on June 30, 2019</time>
            </em>
          </div>
          <div class="aside__item">
            <h4 class="mb-2">
              <a href="#">Post title</a>
            </h4>
            <em>
              <time datetime="2019-06-30">Posted on June 30, 2019</time>
            </em>
          </div>
          <div class="aside__item">
            <h3 class="mb-3">Tags</h3>
            <ul class="aside__tags-list">
              <li>
                <a href="#">all</a>
              </li>
              <li>
                <a href="#">tag 1</a>
              </li>
              <li>
                <a href="#">tag 2</a>
              </li>
              <li>
                <a href="#">tag 3</a>
              </li>
              <li>
                <a href="#">tag 4</a>
              </li>
              <li>
                <a href="#">tag 5</a>
              </li>
              <li>
                <a href="#">tag 6</a>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>