<div class="section">
  <div class="container">
    {% if cart.item_count > 0 %}
      <div class="page-title-block text-center">
        <h1>{{ 'cart.general.title' | t }}</h1>
      </div>

      <form action="/cart" method="post" class="cart-form" novalidate>
        <table class="cart-table mb-4">
          <thead class="small--hide">
            <tr>
              <th>{{ 'cart.label.product' | t }}</th>
              <th>{{ 'cart.label.price' | t }}</th>
              <th>{{ 'cart.label.quantity' | t }}</th>
              <th>{{ 'cart.label.total' | t }}</th>
            </tr>
          </thead>
          <tbody>

            {% for item in cart.items %}

            {% comment %}

            Cart Item Template
            =====================
            The data-label attributes on <td> elements are mobile-friendly
            helpers used for responsive-table labels
            {% endcomment %}

              <tr class="responsive-table-row">

                <td>
                  <div class="row">
                    <div class="col-4 col-md-3">
                      {% if item.image != blank %}
                        <div class="cart__product-img">
                          <a href="{{ item.url | within: collections.all }}">
                            {% comment %}{{ item | img_url: '240x240' | img_tag: item.title }}{% endcomment %}
                            {% render
                              'image',
                              src: item,
                              d: '480x',
                              m: '240x',
                            %}
                          </a>
                        </div>
                      {% endif %}
                    </div>
                    <div class="col-8 col-md-9">
                      <div class="cart__product-text">
                        <a href="{{ item.url }}" class="cart__product-link">
                        <strong>
                          {{ item.product.title }}
                        </strong>
                        </a>

                        {% unless item.product.has_only_default_variant %}
                        <p>{{ item.variant.title }}</p>
                        {% endunless %}

                        <p>{{ item.vendor }}</p>

                        {%- assign property_size = item.properties | size -%}

                        {% if property_size > 0 %}
                          {% for p in item.properties %}
                            {% unless p.last == blank %}
                            {{ p.first }}:

                            {% if p.last contains '/uploads/' %}
                              <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                            {% else %}
                              {{ p.last }}
                            {% endif %}

                            {% endunless %}
                          {% endfor %}
                        {% endif %}

                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                          <small>{{ 'cart.general.remove' | t }}</small>
                        </a>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="mb-4 mb-md-0">
                  {% if item.original_line_price != item.line_price %}
                    <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                    {{ item.price | money }}
                    <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                    <s>{{ item.original_price | money }}</s>
                  {% else %}
                    {{ item.price | money }}
                  {% endif %}
                  </div>
                  <div class="d-flex d-md-none align-items-center justify-content-end">
                  <label for="updates_mobile_{{ item.key }}" class="mr-2">Qty</label>
                  <input type="number"
                        data-key="{{ item.key }}"
                        id="updates_mobile_{{ item.key }}"
                        value="{{ item.quantity }}"
                        min="0"
                        aria-label="{{ 'cart.general.item_quantity' | t }}">
                  </div>
                </td>
                <td>
                  <input type="number"
                        name="updates[]"
                        id="updates_{{ item.key }}"
                        value="{{ item.quantity }}"
                        min="0"
                        aria-label="{{ 'cart.general.item_quantity' | t }}">
                </td>
                <td>
                  {{ item.line_price | money }}
                </td>
              </tr>

            {% endfor %}
          </tbody>
        </table>

        <div class="d-md-flex justify-content-between">
          {% if settings.cart_notes_enable %}
            <div class="col-md-5 col-lg-4 px-0 mb-4 mb-md-0">
              <label for="CartSpecialInstructions" class="d-inline-block mb-2">
                <strong>
                {{ 'cart.general.note' | t }}
                </strong>
              </label>
              <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
            </div>
          {% endif %}

          <div class="col-md-5 col-lg-4 px-0 ml-auto">
            <div class="cart-form__total mb-4">
              <div class="row">
              <div class="col-8">
                <p>{{ 'cart.general.subtotal' | t }}</p>
              </div>
              <div class="col-4">
                <p>{{ cart.total_price | money }}</p>
              </div>
              </div>
              {% if cart.total_discounts > 0 %}
                <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
              {% endif %}
              <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
            </div>
            <input type="submit" class="mb-3 button" name="update" value="{{ 'cart.general.update' | t }}">
            <input type="submit" class="mb-3 button" name="checkout" value="{{ 'cart.general.checkout' | t }}">
          </div>
        </div>
      </form>
      
    {% else %}
      
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
            <div class="page-title-block">
              <h1>{{ 'cart.general.title' | t }}</h1>
            </div>

            {% comment %}
            Cart empty state
            {% endcomment %}
            <div class="supports-cookies">
              <p>{{ 'cart.general.empty' | t }}</p>
              <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
            </div>
            
            {% comment %}
            Cart no cookies state
            ---------------------
            Browser cookies are required to use the cart. If cookies aren't enabled in the
            browser a message is displayed prompting the user to enable them.
            {% endcomment %}
            <div class="supports-no-cookies">
              <p>{{ 'cart.general.cookies_required' | t }}</p>
            </div>
          </div>
        </div>
      </div>
      
    {% endif %}
  </div>
</div>
