<div class="section page-section">
	<div class="container">
		<div class="text-center">
			<h1 class="h2">Collections</h1>
		</div>
		<div class="row py-4">
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>from $20.00</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>$39.00</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>$45.00</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<ins>$49.00</ins>
							<del>$59.00</del>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>$10.00</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>$59.99</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>$69.99</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>$100.00</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>$35.00</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>$20.00</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>$85.50</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>$80.00</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>from $50.00</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>$44.99</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>$78.00</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="product-item text-center">
					<a href="#" class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'345x' }}, {{ 'img-placeholder.png' | asset_img_url:'690x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</a>
					<div class="product-item__box">
						<h2 class="product-item__title">
							<a href="#">Your product's name</a>
						</h2>
						<p>Vendor name</p>
						<div class="product-item__price">
							<div>$110.00</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>