{% paginate search.results by 24 %}
	<div class="section page-section">
		<div class="container">
			<div class="page-title-block text-center">
				<h1 class="h3">
					{% if search.performed %}
						<span class="accessibility">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
							{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
					{% else %}
						{{ 'general.search.title' | t }}
					{% endif %}
				</h1>
			</div>
			<div class="row">
				<div class="col-sm-8 col-md-6 mx-auto">
					<form action="/search" method="get" role="search" class="page-search-form">
						<div class="d-flex align-items-center">
							<input type="search"
										 name="q"
										 id="Search"
										 value="{{ search.terms | escape }}"
										 placeholder="{{ 'general.search.placeholder' | t }}">
							<button type="submit" class="button btn page-search-form__button d-flex align-items-center">
								{% include 'icon-search' %}
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="section">
				<div class="row">
					<div class="col-md-10 mx-auto">
						{% if search.performed %}
							{% if search.results_count == 0 %}
								<div class="text-center">
									<p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
								</div>
							{% else %}
								{% for item in search.results %}
									<div class="search-item">
										<div class="row align-items-center">
											<div class="col-4 col-md-3">
												<a href="{{ item.url | within: collection }}">
													{% assign featured_image = item.image | default: item.featured_image %}
													<picture>
														<source data-srcset="{{ featured_image | img_url: '120x' }}, {{ featured_image | img_url: '240x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
														<source data-srcset="{{ featured_image | img_url: '190x' }}, {{ featured_image | img_url: '3 80x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
														<img data-src="{{ featured_image | img_url: '190x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
													</picture>
												</a>
											</div>
											<div class="col-8 col-md-9">
												<div class="row justify-content-md-between">
													<div class="col-md-6 mb-3 mb-md-0">
														<h2 class="search-item__title"><a href="#">{{ item.title }}</a></h2>
													</div>
													<div class="col-md-6">
														{% if item.object_type == 'product' %}
															<div class="search-item__price">
																{% if item.compare_at_price > item.price %}
																	{% if item.price_varies %}
																		{% assign sale_price = item.price | money %}
																		{{ 'products.product.on_sale_from_html' | t: price: sale_price }}
																	{% else %}
																		{{ 'products.product.on_sale' | t }}
																		<ins>{{ item.price | money }}</ins>
																	{% endif %}
																	<span class="accessibility">{{ 'products.product.regular_price' | t }}</span>
																	<del>{{ item.compare_at_price | money }}</del>
																{% else %}
																	{% if item.price_varies %}
																		{% assign price = item.price | money %}
																		<span>{{ 'products.product.from_text_html' | t: price: price }}</span>
																	{% else %}
																		<span>{{ item.price | money }}</span>
																	{% endif %}
																{% endif %}
																{% unless item.available %}
																{{ 'products.product.sold_out' | t }}
																{% endunless %}
															</div>
														{% else %}
															<p>{{ item.content | strip_html | truncatewords: 50 }}</p>
														{% endif %}
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
								{% if paginate.pages > 1 %}
									{% include 'pagination' %}
								{% endif %}
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endpaginate %}
