<div class="filter-collapse relative lg:mr-5">
  <details-utils close-esc close-click-outside="(min-width: 1024px)" force-close="(min-width: 1024px)" force-restore>
    <details class="filter-collapse__item js-filter" data-index="mobile-{{ forloop.index }}">
      <summary class="py-3 flex justify-between items-center">
        {{ filter.label }}
        <span class="filter-collapse__btn flex-shrink-0 mx-4 lg:ml-0"></span>
      </summary>
      <div class="filter-collapse__slide overflow-hidden">

        <div class="filter-collapse__heading body-small hidden lg:flex lg:items-center lg:justify-between lg:space-x-2 lg:p-4">
          <div class="facets__selected no-js-hidden">
            {{ 'products.facets.filters_selected' | t: count: filter.active_values.size }}
          </div>
          <div>
            <facet-remove>
              <a href="{{ filter.url_to_remove }}">
                <button type="reset">Reset</button>
              </a>
            </facet-remove>
          </div>
        </div>

        {% for value in filter.values %}
          <div class="py-3 custom-input custom-input--square-with-text">
            <input
              id="Filter-{{ value.param_name }}-{{ forloop.index }}"
              type="checkbox"
              name="{{ value.param_name }}"
              value="{{ value.value }}"
              {% if value.active -%}
                checked
              {%- endif %}
              {% if value.count == 0 and value.active == false -%}
                disabled
              {%- endif %}
            >
            <label for="Filter-{{ value.param_name }}-{{ forloop.index }}" class="custom-label flex items-center">
              <span class="custom-label__check"></span>
              {{ value.label }} ({{ value.count }})
            </label>
          </div>
        {% endfor %}

      </div>
    </details>
  </details-utils>
</div>
