<div class="filter-collapse relative lg:mr-5">
  <details-utils
    close-esc
    close-click-outside="(min-width: 1024px)"
    force-close="(min-width: 1024px)"
    force-restore
  >
    <details
      class="filter-collapse__item js-filter"
      data-index="mobile-{{ forloop.index }}"
    >
      <summary class="flex items-center justify-between py-3">
        {{ filter.label }}
        <span class="filter-collapse__btn mx-4 shrink-0 lg:ml-0"></span>
      </summary>

      <div class="filter-collapse__slide overflow-hidden">
        <div class="filter-collapse__heading body-small hidden lg:flex lg:items-center lg:justify-between lg:space-x-2 lg:p-4">
          {% liquid
            assign max_price_amount = filter.range_max | money | strip_html | escape
          %}
          <div>{{ 'collections.filters.filter_product_price' | t: amount: max_price_amount }}</div>
          <div>
            <facet-remove>
              <a href="{{ filter.url_to_remove }}">{{ 'collections.filters.reset' | t }}</a>
            </facet-remove>
          </div>
        </div>

        <price-range class="facets__price flex items-center py-3 lg:p-4">
          <div class="w-100">
            <label
              for="Filter-{{ filter.min_value.param_name }}"
              class="mb-2 inline-block"
            >
              {{- 'collections.filters.minimum_price' | t -}}
            </label>
            <div class="relative">
              <span class="range-slider__suffix body-medium">{{ cart.currency.symbol }}</span>
              <input
                type="number"
                class="range-slider__input w-100 text-right"
                inputmode="numeric"
                name="{{ filter.min_value.param_name }}"
                id="Filter-{{ filter.min_value.param_name }}"
                min="0"
                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                {% if filter.min_value.value -%}
                  value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                {%- endif %}
              >
            </div>
          </div>
          <div class="mx-4 mb-3 shrink-0">{{ 'collections.filters.to' | t }}</div>
          <div class="w-100">
            <label
              for="Filter-{{ filter.max_value.param_name }}"
              class="mb-2 inline-block"
            >
              {{- 'collections.filters.maximum_price' | t -}}
            </label>
            <div class="relative">
              <span class="range-slider__suffix body-medium base-secondary-text-color absolute left-3 top-2">
                {{- cart.currency.symbol -}}
              </span>
              <input
                type="number"
                class="range-slider__input text-right"
                inputmode="numeric"
                name="{{ filter.max_value.param_name }}"
                id="Filter-{{ filter.max_value.param_name }}"
                {% if filter.max_value.value -%}
                  value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                {%- endif %}
                min="0"
                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
              >
            </div>
          </div>
        </price-range>
      </div>
    </details>
  </details-utils>
</div>
