<div class="filter-collapse">
  <details-utils force-open animate force-restore>
    <details class="filter-collapse__item js-filter" data-index="{{ forloop.index }}">
      <summary class="py-3 flex justify-between items-center">
        {{ filter.label }}
        <span class="filter-collapse__btn flex-shrink-0 mx-4"></span>
      </summary>
      {% for value in filter.values %}
        {% unless forloop.index > 5 %}
          <div class="py-3 custom-input custom-input--square-with-text overflow-hidden">
            <input
              id="Filter-{{ value.param_name }}-{{ forloop.index }}"
              type="checkbox"
              value="{{ value.value }}"
              name="{{ value.param_name }}"
              {% if value.active -%}
                checked
              {%- endif %}
              {% if value.count == 0 and value.active == false -%}
                disabled
              {%- endif %}
            >
            <label for="Filter-{{ value.param_name }}-{{ forloop.index }}" class="custom-label flex items-center">
              <span class="custom-label__check"></span>
              {{ value.label }} ({{ value.count }})
            </label>
          </div>
        {% endunless %}
      {% endfor %}
    </details>
  </details-utils>
</div>
