{% liquid
    assign limit = settings.limit
    assign products = collection.products
    assign sort_by = collection.sort_by | default: collection.default_sort_by
    if collection.url
      assign results_url = collection.url
    else
      assign terms = collection.terms | escape
      assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
    endif

    render 'page-hero', image: collection.image
    render 'breadcrumbs'
  %}

  {% paginate collection.products by limit %}
    <div class="section page-section"
         data-section-id="{{ section.id }}"
         data-section-type="collection"
         data-infinite="{{ section.settings.enable_infinite }}"
         data-products-quantity="{{ collection.products_count }}">
      <div class="container">
        <div class="page-title-block text-center pt-0">
          <h1 class="h2 mb-2">{{ collection.title }}</h1>
          {% if collection.description != blank %}
            <div class="rte body-medium">
              {{ collection.description }}
            </div>
          {% endif %}
        </div>
        {% if products.size == 0 %}
          <div class="text-center py-5">
            {{ 'collections.general.no_matches' | t }}
          </div>
        {% else %}
          {% render 'collection-2-filters' %}
        {% endif %}
        {% if section.settings.enable_infinite %}
          <div class="spinner-holder">
            <div class="spinner"></div>
          </div>
        {% else %}
          <div id="pagination-container">
            {% if paginate.pages > 1 %}
              {% render 'pagination', paginate: paginate %}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

  {% endpaginate %}
