{% liquid
  assign product_placeholder = 'collections.general.product' | t
  assign products_placeholder = 'collections.general.products' | t
%}
<div class="collection-item text-center">
  <a
    class="collection-item__img"
    href="{{ collection.url }}"
    title="{{ 'collections.general.link_title' | t: title: collection.title }}"
  >
    {% liquid
      if image != blank
        render 'image', src: image, m: '375x375', src_d: image, d: '303x303', crop: 'center', alt: image.alt
      else
        echo 'image' | placeholder_svg_tag: 'placeholder-svg'
      endif
    %}
  </a>
  <div class="collection-item__box">
    <h2 class="h4 collection-item__title">
      <a
        href="{{ collection.url }}"
        title="{{ 'collections.general.link_title' | t: title: collection.title }}"
      >
        {{- collection.title -}}
      </a>
    </h2>
    <p>
      {{ collection.all_products_count }}
      {{ collection.all_products_count | pluralize: product_placeholder, products_placeholder }}
    </p>
  </div>
</div>
