{% liquid
  assign limit = settings.limit
  assign products = collection.products

  render 'page-hero', image: collection.image
  render 'breadcrumbs'
%}

{% paginate collection.products by limit %}
  <div
    class="section page-section"
    data-section-id="{{ section.id }}"
    data-section-type="collection"
    data-infinite="{{ section.settings.enable_infinite }}"
    data-products-quantity="{{ collection.products_count }}"
  >
    <div class="container">
      <div class="page-title-block text-center pt-0">
        <h1 class="h2 mb-2">{{ collection.title }}</h1>

        {% if collection.description == blank %}
          <h2 class="text-size-md visually-hidden">Collection description</h2>
        {% endif %}
        {% if collection.description != blank %}
          <h2 class="text-size-md">
            {{ collection.description }}
          </h2>
        {% endif %}
      </div>

      {% if products.size == 0 %}
        <div class="text-center py-5">
          {{ 'collections.general.no_matches' | t }}
        </div>
      {% else %}
        <facet-filters-form>
          <form id="FacetFiltersForm" class="facets__form">
            <div class="filter__main-btn-holder flex items-center space-x-8">
              {%- if collection.terms -%}
                <input type="hidden" name="q" value="{{ results.terms | escape }}">
                <input name="options[prefix]" type="hidden" value="last">
              {%- endif -%}
              {% if section.settings.enable_filtering %}
                <div id="FacetsWrapperDesktop" class="w-7/12 lg:w-8/12 filter-collapse__horizontal horizontal-filter">
                  <details-utils
                    close-click-outside="(max-width: 1023px)"
                    force-close="(max-width: 1023px)"
                    force-open="(min-width: 1024px)"
                    close-esc="(max-width: 1024px)"
                    force-restore
                  >
                    <details class="filter-main-open-close" id="filter-main-open-close">
                      <summary class="default filter-main-open-close__btn-opener filter-main-open-close__opener page-wrapper__opener inline-flex lg:hidden items-center body-large">
                        <span class="filter-main-open-close__btn-opener-icon mr-2">
                          {% render 'icon' with 'filter' %}
                        </span>
                        {{ 'collections.general.filter_and_sort' | t }}
                      </summary>
                      <div class="filter-main-open-close__slide flex justify-between flex-col lg:block">
                        <div class="filter-main-open-close__slide-btn-holder lg:hidden flex-shrink-0 w-100">
                          <button
                            class="filter-main-open-close__opener filter-main-open-close__closer page-wrapper__opener flex items-center body-medium"
                            type="button"
                            aria-controls="filter-main-open-close"
                            data-du-close-click
                          >
                            <span class="btn-closer flex-shrink-0 mr-1">
                              <span class="visually-hidden"> Icon close </span>
                            </span>
                            {{ 'collections.general.close' | t }}
                          </button>
                        </div>
                        <div class="filter-main-open-close__holder">
                          <div id="FacetFiltersMobile" class="px-4 lg:px-0">
                            {% if section.settings.enable_sorting %}
                              <div class="lg:hidden py-4">
                                <label class="label" for="filter-sortby">{{ 'collections.general.sort_by' | t }}</label>
                                <div class="select-holder">
                                  <select name="sort_by" id="filter-sortby" form="FacetFiltersForm">
                                    {%- for option in collection.sort_options -%}
                                      <option
                                        value="{{ option.value | escape }}"
                                        {% if option.value == sort_by %}
                                          selected="selected"
                                        {% endif %}
                                      >
                                        {{ option.name | escape }}
                                      </option>
                                    {%- endfor -%}
                                  </select>
                                </div>
                              </div>
                            {% endif %}
                            <div class="lg:flex lg:flex-wrap">
                              <div class="hidden lg:block body-small py-3 mr-5">
                                {{ 'collections.general.filter' | t }}
                              </div>
                              {% liquid
                                for filter in collection.filters
                                  case filter.label
                                    when "Color"
                                      render 'collection-mobile-filter-color', forloop: forloop, filter: filter
                                    when "Price"
                                      render 'collection-mobile-filter-price', forloop: forloop, filter: filter
                                    when "Size"
                                      render 'collection-mobile-filter-size', forloop: forloop, filter: filter
                                    when "Brand"
                                      render 'collection-mobile-filter-brand', forloop: forloop, filter: filter
                                    when "Product type"
                                      render 'collection-mobile-filter-product-type', forloop: forloop, filter: filter
                                    when "Material"
                                      render 'collection-mobile-filter-product-material', forloop: forloop, filter: filter
                                  endcase
                                endfor
                              %}
                            </div>
                          </div>
                        </div>
                        <div class="lg:hidden flex-shrink-0 px-4 py-5">
                          {%
                            render 'button',
                            element: 'button',
                            type: 'button',
                            class: 'w-100 filter-main-open-close__opener filter-main-open-close__closer',
                            text: 'Apply',
                            data_attribute: 'aria-controls="filter-main-open-close" data-du-close-click'
                          %}
                        </div>
                      </div>
                      <div
                        class="filter-main-open-close__opener filter-main-open-close__overlay page-wrapper__opener lg:hidden"
                        aria-controls="filter-main-open-close"
                        data-du-close-click
                      >
                        <span class="visually-hidden"> Closer filter drawer </span>
                      </div>
                    </details>
                  </details-utils>
                </div>
              {% endif %}
              <div class="w-5/12 lg:w-4/12 lg:pl-3">
                <div class="lg:flex lg:justify-end lg:items-center">
                  {% if section.settings.enable_sorting %}
                    <div class="hidden lg:block w-100">
                      <label class="label visually-hidden" for="filter-sortby-2">
                        {{- 'collections.general.sort_by' | t -}}
                      </label>
                      <div class="select-holder w-100">
                        <select name="sort_by" id="filter-sortby-2" form="FacetFiltersForm">
                          {%- for option in collection.sort_options -%}
                            <option
                              value="{{ option.value | escape }}"
                              {% if option.value == sort_by %}
                                selected="selected"
                              {% endif %}
                            >
                              {{ option.name | escape }}
                            </option>
                          {%- endfor -%}
                        </select>
                      </div>
                    </div>
                  {% endif %}
                  {% if section.settings.enable_filtering %}
                    <div id="ProductCountDesktop" class="ml-5 flex-shrink-0 body-small text-right">
                      {%- if collection.results_count -%}
                        {{ 'templates.search.results_with_count' | t: terms: collection.terms, count: collection.results_count }}
                      {%- elsif collection.products_count == collection.all_products_count -%}
                        {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                      {%- else -%}
                        {{ 'products.facets.product_count' | t: product_count: collection.products_count, count: collection.all_products_count }}
                      {%- endif -%}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="py-4 lg:py-5">
              {% if section.settings.enable_filtering %}
                <div class="filter-selected-element-list flex flex-wrap items-center pb-4 lg:pb-0 lg:mb-5 -mx-2">
                  <facet-remove class="inline-flex" data-facet-clear-all>
                    <a
                      href="{{ collection.url }}?sort_by={{ collection.sort_by }}"
                      id="clear-all"
                      class="button button--sm filter__btn-reset mx-2 mb-3"
                      role="button"
                    >
                      {{ 'collections.general.clear_all' | t }}
                    </a>
                  </facet-remove>

                  {% for filter in collection.filters %}
                    {% if filter.type == "price_range" %}
                      {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                        <facet-remove class="inline-flex">
                          <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}" role="button">
                            <div class="filter-selected-element-list__item relative flex items-center justify-center py-1 px-3 mb-3 mx-2">
                              {%- assign min_value = filter.min_value.value | default: 0 -%}
                              {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                              {{ min_value | money }} - {{ max_value | money }}
                              <button class="btn-closer ml-3">
                                <span class="visually-hidden"> Clear {$50.00 - $90.00} filter results </span>
                              </button>
                            </div>
                          </a>
                        </facet-remove>
                      {%- endif -%}
                    {% else %}
                      {% for filter_value in filter.active_values %}
                        <div class="filter-selected-element-list__item relative flex items-center justify-center py-1 px-3 mb-3 mx-2">
                          {{ filter_value.label }}
                          <facet-remove class="inline-flex">
                            <a class="btn-closer ml-3" href="{{ filter_value.url_to_remove }}" role="button">
                              <span class="visually-hidden"> Clear {Black} filter results </span>
                            </a>
                          </facet-remove>
                        </div>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
              <div
                id="product-grid"
                class="grid grid-cols-2 xl:grid-cols-3 gap-x-8 js-products-wrapper"
                data-id="{{ section.id }}"
              >
                {% liquid
                  for product in collection.products
                    render "product-card", product: product, grid_item_width: ''
                  endfor
                %}
              </div>
            </div>
          </form>
        </facet-filters-form>
      {% endif %}
      {% if section.settings.enable_infinite %}
        <div class="spinner-holder">
          <div class="spinner"></div>
        </div>
      {% else %}
        <div id="pagination-container">
          {% if paginate.pages > 1 %}
            {% render 'pagination', paginate: paginate %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endpaginate %}
