{% if block.settings.logo_svg != blank %}
  <a
    href="{{ routes.root_url }}"
    rel="nofollow"
    class="footer__logo mb-5"
  >
    <img
      src="{{ block.settings.logo_svg | asset_url }}"
      width="{{ block.settings.logo_svg_width }}"
      height="{{ block.settings.logo_svg_height }}"
      alt="Draft logo"
      loading="lazy"
    >
  </a>
{% elsif block.settings.logo != blank %}
  <a
    href="{{ routes.root_url }}"
    rel="nofollow"
    class="footer__logo mb-5"
  >
    {%
      render 'image',
      src: block.settings.logo,
      m: '114x24',
      src_d: block.settings.logo,
      d: '114x24',
      alt: block.settings.logo.alt
    %}
  </a>
{% elsif block.settings.logo_text != blank %}
  <div class="logo-text h5 mb-5">
    <a
      href="{{ routes.root_url }}"
      rel="nofollow"
    >
      {{ block.settings.logo_text }}
    </a>
  </div>
{% endif %}
