{% if section.settings.logo_svg != blank %}
  <div class="logo">
    <a href="{{ routes.root_url }}" rel="nofollow">
      <img
        src="{{ section.settings.logo_svg | asset_url }}"
        width="{{ section.settings.logo_svg_width }}"
        height="{{ section.settings.logo_svg_height }}"
        alt="Draft logo"
        loading="eager"
      >
    </a>
  </div>
{% elsif section.settings.logo != blank %}
  <div class="logo">
    <a href="{{ routes.root_url }}" rel="nofollow">
      {%
        render 'image',
        src: section.settings.logo,
        m: '56x',
        src_d: section.settings.logo,
        d: '82x',
        alt: 'Draft logo',
        lazyload: enable_lazyload
      %}
    </a>
  </div>
{% elsif section.settings.logo_text != blank %}
  <div class="logo-text h4 text-center">
    <a href="{{ routes.root_url }}" rel="nofollow">{{ section.settings.logo_text }}</a>
  </div>
{% endif %}
