<ul class="header__action-menu d-flex flex-wrap align-items-center justify-content-center">
  {% if section.settings.search_enable %}
    <li class="d-none d-lg-block">
      <a href="{{ routes.search_url }}" class="header__btn">
        {%- render 'icon' with 'search' -%}
      </a>
    </li>
  {% endif %}
  {% if shop.customer_accounts_enabled and section.settings.enable_account_icon %}
    {% if customer %}
      {% assign link = routes.account_url %}
    {% else %}
      {% assign link = routes.account_login_url %}
    {% endif %}
    <li class="d-none d-xs-block">
      <a href="{{ link }}" class="header__btn">
        {%- render 'icon' with 'account' -%}
      </a>
    </li>
  {% endif %}
  {% if section.settings.cart_enable %}
    <li data-cart-count>
      <a href="{{ routes.cart_url }}" class="header__btn header__cart-btn" >
        {%- render 'icon' with 'cart' -%}
        {% if cart.item_count > 0 %}
          <span class="header__cart-btn__num">
            {{- cart.item_count -}}
          </span>
        {% endif %}
      </a>
    </li>
  {% endif %}
  {% if section.settings.currency_switcher_enable %}
    <li>
      {% form 'currency' %}
        <select name="currency">
          {% for currency in shop.enabled_currencies %}
            {% if currency == cart.currency %}
              <option selected="true">{{currency.iso_code}} {{currency.symbol}}</option>
            {% else %}
              <option>{{currency.iso_code}}</option>
            {% endif %}
          {% endfor %}
        </select>
      {% endform %}
    </li>
  {% endif %}
  {% if section.settings.language_switcher_enable %}
    <li>
      <select name="locales">
        {% for locale in shop.published_locales %}
          {% if locale.primary %}
            {% assign locale_url = request.path %}
          {% else %}
            {% assign locale_url = locale.root_url | append: request.path %}
          {% endif %}
          <option {% if request.locale.name == locale.name %}selected{% endif %} data-path="{{ request.path }}" value="{{ locale.root_url }}">{{ locale.name }}</option>
        {% endfor %}
      </select>
    </li>
  {% endif %}
</ul>
