{% for link in linklists[section.settings.menu].links %}
  {% if link.links != blank %}
    <li class="ac has-drop">
      <button
        type="button"
        class="menu-accordion__opener w-100 text-left"
      >
        {{ link.title }}
      </button>
      <div class="menu-accordion__slide ac-panel">
        <div class="container">
          <div class="xl:flex xl:space-x-8">
            {% for child_link in link.links %}
              <div class="xl:3/12">
                {% if child_link.links != blank %}
                  <div class="h5 h mb-3">{{ child_link.title }}</div>
                {% else %}
                  <a
                    href="{{ child_link.url }}"
                    class="h5 h mb-3"
                  >
                    {{ child_link.title }}
                  </a>
                {% endif %}
                {% if child_link.links != blank %}
                  <ul>
                    {% for third_level in child_link.links %}
                      <li
                        {% if third_level.active %}
                          class="active"
                        {% endif %}
                      >
                        <a href="{{ third_level.url }}">{{ third_level.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </li>
  {% else %}
    <li
      {% if link.active %}
        class="active"
      {% endif %}
    >
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endif %}
{% endfor %}
