<nav role="navigation" class="pagination">
  <ol class="flex flex-wrap items-center justify-center">
    {%- if paginate.previous-%}
      <li>
        <a href="{{ paginate.previous.url }}" class="prev">
          <span class="visually-hidden">Prev page</span>
        </a>
      </li>
    {%- else -%}
      <li class="disabled">
        <span class="visually-hidden">Prev page</span>
      </li>
    {%- endif -%}

    {%- for part in paginate.parts -%}
      {%- if part.is_link -%}
        <li>
          <a href="{{ part.url }}">
            {{ part.title }} <span class="visually-hidden">page</span> 
          </a>
        </li>

      {%- else -%}
        {%- if part.title == paginate.current_page -%}
          <li class="active" aria-current="page">
            <span>
              {{ part.title }}
            </span>
            <span class="visually-hidden">page</span> 
          </li>
        {%- else -%}
          <li>
            <span>
              {{ part.title }}
            </span>
            <span class="visually-hidden">page</span> 
          </li>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if paginate.next -%}
      <li>
        <a href="{{ paginate.next.url }}" class="next">
          <span class="visually-hidden">Next page</span>
        </a>
      </li>
    {%- else -%}
      <li class="disabled">
        <span class="visually-hidden">Next page</span>
      </li>
    {%- endif -%}
  </ol>
</nav>
