<nav
  id="pagination"
  role="navigation"
  class="pagination"
>
  <ol class="flex flex-wrap items-center justify-center">
    {%- if paginate.previous -%}
      <li>
        <a
          href="{{ paginate.previous.url }}"
          class="pagination__prev"
        >
          <span class="visually-hidden">Previous page</span>
        </a>
      </li>
    {%- endif -%}

    {%- for part in paginate.parts -%}
      {%- if part.is_link -%}
        <li>
          <a href="{{ part.url }}">
            {{ part.title }}
            <span class="visually-hidden">page</span>
          </a>
        </li>
      {%- else -%}
        {%- if part.title == paginate.current_page -%}
          <li
            class="active"
            aria-current="page"
          >
            <div>
              <span>
                {{ part.title }}
              </span>
              <span class="visually-hidden">page</span>
            </div>
          </li>
        {%- else -%}
          <li>
            <div>
              <span>
                {{ part.title }}
              </span>
              <span class="visually-hidden">page</span>
            </div>
          </li>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if paginate.next -%}
      <li>
        <a
          href="{{ paginate.next.url }}"
          class="pagination__next"
        >
          <span class="visually-hidden">Next page</span>
        </a>
      </li>
    {%- endif -%}
  </ol>
</nav>
