<div
  class="pickup-availability-drawer"
  tabindex="-1"
  role="dialog"
>
  {% if isFeaturedProduct %}
    {%- assign product = section.settings.product %}
  {% endif %}

  {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
  <div class="pickup-availability-header">
    <div class="mb-5 flex items-start justify-between">
      <div class="h6 mt-2 md:mt-1">
        {{ product.title }}
      </div>
      <button
        type="button"
        class="btn-closer page-wrapper__opener ml-1 flex shrink-0 items-center"
        aria-label="Close pickup availability"
      ></button>
    </div>
    {% for value in product.options_with_values %}
      <div class="body-small base-secondary-text mb-5 capitalize">{{ value.name }} : {{ value.selected_value }}</div>
    {% endfor %}
  </div>
  <div class="pickup-availability-wrapper">
    <ul class="pickup-availability-list pr-3">
      {%- for availability in pick_up_availabilities -%}
        <li class="pickup-availability-list__item py-8">
          <div class="title">{{ availability.location.name }}</div>
          <div class="flex">
            {%- if availability.available -%}
              <div class="mr-2 shrink-0">
                {%- render 'icon' with 'tick' -%}
              </div>
              <div>
                {{ 'products.product.pick_up_available' | t }}
                {{ availability.pick_up_time | downcase }}
              </div>
            {%- else -%}
              <div class="mr-2 shrink-0">
                {%- render 'icon' with 'unavailable' -%}
              </div>
              <div>
                {{ 'products.product.pick_up_currently_unavailable' | t }}
              </div>
            {%- endif -%}
          </div>
          {%- assign address = availability.location.address -%}
          <address class="pickup-availability-address">
            {{ address | format_address }}
          </address>
          {%- if address.phone.size > 0 -%}
            <p>
              <a href="{{ address.phone | prepend: 'tel:' }}">{{ address.phone }}</a>
              <br>
            </p>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
