<div class="product-main-block__details text-md">
  <div class="product__vendor mb-1 mb-md-2">
    by <mark>{{ product.vendor }}</mark>
  </div>
  <h1 class="product__title">{{ product.title }}</h1>
  {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
    <div class="product__price" data-price-wrapper>
      <div class="product__price__box h5 d-flex flex-wrap align-items-center">
        {% if product.compare_at_price_max > product.price %}
          <ins data-product-price>
            $799.00
          </ins>
          <span class="accessibility" data-compare-text>
            {{ 'products.product.regular_price' | t }}
          </span>
          {% if current_variant.compare_at_price > current_variant.price %}
            <del data-compare-price>
              $999.00
            </del>
          {% endif %}
        {% else %}
          <div data-product-price>
            $799.00
          </div>
          <ins data-product-price>
            $799.00
          </ins>
          <del data-compare-price>
            $999.00
          </del>
        {% endif %}
      </div>
    </div>
    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        <div class="js">
          {% if forloop.index0 > 0 %}
            {% for value in option.values %}
              <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %}>
              <label for="Option{{ option.position }}-{{ value }}">{{ value }}</label>
            {% endfor %}
          {% else %}
            <label for="Option{{ option.position }}">
              {{ option.name }}
            </label>
            {% comment %}<select
              id="Option{{ option.position }}"
              name="options[{{ option.name | escape }}]">
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                  {{ value }}
                </option>
              {% endfor %}
            </select>{% endcomment %}
          {% endif %}
        </div>
      {% endfor %}
    {% endunless %}
    <div class="product__row">
      <div class="row mb-2">
        <div class="col-sm-6 col-md-9 col-lg-6">
          <div class="product__variant-label-box mb-1">
            <span class="product__variant-label">Color:</span>
            <span>black</span>
          </div>
          <div class="input-holder custom-input custom-input--colors d-inline-flex">
            <input id="filter-field-colors-01" type="radio" name="filter-field-colors" checked>
            <label for="filter-field-colors-01" class="custom-label">
              {% render
                'image',
                asset_img_url: true,
                src: 'img-placeholder.png',
                d: '26x26',
                placeholder: 'img-placeholder.png',
              %}
            </label>
          </div>
          <div class="input-holder custom-input custom-input--colors d-inline-flex">
            <input id="filter-field-colors-02" type="radio" name="filter-field-colors">
            <label for="filter-field-colors-02" class="custom-label">
              {% render
                'image',
                asset_img_url: true,
                src: 'gallery-img-01-2x.jpg',
                d: '26x26',
                placeholder: 'img-placeholder.png',
              %}
            </label>
          </div>
          <div class="input-holder custom-input custom-input--colors d-inline-flex">
            <input id="filter-field-colors-03" type="radio" name="filter-field-colors">
            <label for="filter-field-colors-03" class="custom-label">
              {% render
                'image',
                asset_img_url: true,
                src: 'gallery-img-02-2x.jpg',
                d: '26x26',
                placeholder: 'img-placeholder.png',
              %}
            </label>
          </div>
          <div class="input-holder custom-input custom-input--colors d-inline-flex">
            <input id="filter-field-colors-04" type="radio" name="filter-field-colors">
            <label for="filter-field-colors-04" class="custom-label">
              {% render
                'image',
                asset_img_url: true,
                src: 'img-placeholder.png',
                d: '26x26',
                placeholder: 'img-placeholder.png',
              %}
            </label>
          </div>
          <div class="input-holder custom-input custom-input--colors d-inline-flex">
            <input id="filter-field-colors-05" type="radio" name="filter-field-colors">
            <label for="filter-field-colors-05" class="custom-label">
              {% render
                'image',
                asset_img_url: true,
                src: 'img-placeholder.png',
                d: '26x26',
                placeholder: 'img-placeholder.png',
              %}
            </label>
          </div>
          <div class="input-holder custom-input custom-input--colors d-inline-flex">
            <input id="filter-field-colors-06" type="radio" name="filter-field-colors">
            <label for="filter-field-colors-06" class="custom-label">
              {% render
                'image',
                asset_img_url: true,
                src: 'img-placeholder.png',
                d: '26x26',
                placeholder: 'img-placeholder.png',
              %}
            </label>
          </div>
          <div class="input-holder custom-input custom-input--colors d-inline-flex">
            <input id="filter-field-colors-07" type="radio" name="filter-field-colors">
            <label for="filter-field-colors-07" class="custom-label">
              {% render
                'image',
                asset_img_url: true,
                src: 'img-placeholder.png',
                d: '26x26',
                placeholder: 'img-placeholder.png',
              %}
            </label>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-6 col-md-9 col-lg-6">
          <div class="product__variant-label-box mb-1">
            <span class="product__variant-label">Select size:</span>
          </div>
          <div class="input-holder custom-input custom-input--size d-inline-flex">
            <input id="filter-field-size-01" type="radio" name="filter-field-size">
            <label for="filter-field-size-01" class="custom-label">
              <span>XXS</span>
            </label>
          </div>
          <div class="input-holder custom-input custom-input--size d-inline-flex">
            <input id="filter-field-size-02" type="radio" name="filter-field-size">
            <label for="filter-field-size-02" class="custom-label">
              <span>xs</span>
            </label>
          </div>
          <div class="input-holder custom-input custom-input--size d-inline-flex">
            <input id="filter-field-size-03" type="radio" name="filter-field-size">
            <label for="filter-field-size-03" class="custom-label">
              <span>s</span>
            </label>
          </div>
          <div class="input-holder custom-input custom-input--size d-inline-flex">
            <input id="filter-field-size-04" type="radio" name="filter-field-size">
            <label for="filter-field-size-04" class="custom-label">
              <span>m</span>
            </label>
          </div>
          <div class="input-holder custom-input custom-input--size d-inline-flex">
            <input id="filter-field-size-05" type="radio" name="filter-field-size">
            <label for="filter-field-size-05" class="custom-label">
              <span>l</span>
            </label>
          </div>
          <div class="input-holder custom-input custom-input--size d-inline-flex">
            <input id="filter-field-size-06" type="radio" name="filter-field-size">
            <label for="filter-field-size-06" class="custom-label">
              <span>xl</span>
            </label>
          </div>
          <div class="input-holder custom-input custom-input--size d-inline-flex">
            <input id="filter-field-size-07" type="radio" name="filter-field-size">
            <label for="filter-field-size-07" class="custom-label">
              <span>xxl</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-7 col-lg-5 col-xl-4">
          <label class="product__label" for="size">Size</label>
          <select name="id" id="size" class="product__select w-100">
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                {{ variant.title }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6 custom-form">
              <label class="product__label accessibility" for="Quantity">
                {{ 'products.product.quantity' | t }}
              </label>
              <input type="number" id="Quantity" name="quantity" value="1" min="1">
            </div>
            <div class="col-lg-6">
              {% render 'button',
                  element: 'button',
                  text: "Add to cart",
                  class: 'w-100',
                  type: 'button'
                %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="product__row">
          {% if current_variant.available %}
            {% render 'button',
              element: 'button',
              locales_text: 'products.product.add_to_cart',
              data_attribute: 'data-submit-button',
              class: 'w-100',
              name: 'add',
              other: 'name="add"',
              type: 'submit'
            %}
          {% else %}
            {% render 'button',
              element: 'button',
              locales_text: 'products.product.sold_out',
              data_attribute: 'data-submit-button',
              class: 'w-100 disabled',
              other: 'name="add" disabled',
              type: 'submit'
            %}
          {% endif %}
        </div>
        <div class="product__row">
          <button type="button" class="w-100">buy it now</button>
        </div>
      </div>
    </div>
      
    
  {% endform %}
  
  <ul class="accordion">
    <li class="accordion--active active">
      <a href="#" class="accordion__opener">
        Product Details
      </a>
      <div class="accordion__slide">
        123
      </div>
    </li>
    <li>
      <a href="#" class="accordion__opener">
        Specifications
      </a>
      <div class="accordion__slide">
        123
      </div>
    </li>
    <li>
      <a href="#" class="accordion__opener">
        Warranty & Services
      </a>
      <div class="accordion__slide">
        123
      </div>
    </li>
    <li>
      <a href="#" class="accordion__opener">
        Shipping & Returns
      </a>
      <div class="accordion__slide">
        123
      </div>
    </li>
  </ul>
  
  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  {% endif %}
</div>