{% assign section_onboarding = false %}
{% if product == empty %}
  {%- assign section_onboarding = true -%}
{% endif %}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign show_size_chart = section.settings.show_size_chart -%}
{%- assign size_chart_url = section.settings.size_chart_url -%}
{%- assign show_variant_label = section.settings.show_variant_label -%}
{%- assign product_form_id = 'product-form-' | append: section.id -%}


<section data-section-id="{{ section.id }}"
         class="section"
         data-section-type="product"
         data-handle="{{ product.handle }}">
  <div class="container">
    <div class="md:flex md:space-x-8">
      <div class="md:w-6/12 mb-4 md:mb-0">
        {% unless section_onboarding %}
          <div class="product__gallery-slider lg:flex lg:flex-wrap">
            {% if product.media.size > 0 %}
              {% for media in product.media %}
                {% render 'product-media', media: media, main: true %}
              {% endfor %}
            {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endunless %}
      </div>
      <div class="md:w-6/12">
        <div class="product-main-block__details product-main-block__details--sticky">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when "@app" %}
              <div class="product__rating mb-5">
                {% render block %}
              </div>
              {% when "title" %}
                {% unless section_onboarding %}
                    <h1 class="product__title" {{ block.shopify_attributes }}>{{ product.title }}</h1>
                {% else %}
                    <h1 class="product__title">{{ 'homepage.onboarding.product_title' | t }}</h1>
                {% endunless %}
              {% when "vendor" %}
                  <div class="product__vendor mb-1 md:mb-2" {{ block.shopify_attributes }}>{{ product.vendor }}</div>
              {% when "price" %}
                <div class="product__price mb-3" {{ block.shopify_attributes }}>
                  <div class="product__price__box flex flex-wrap items-center" data-price-wrapper>
                    {% if product.compare_at_price_max > product.price %}
                      <ins data-product-price>
                        {{ current_variant.price | money }}
                      </ins>
                      <span class="accessibility" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                      {% if current_variant.compare_at_price > current_variant.price %}
                        <del data-compare-price>
                          {{ current_variant.compare_at_price | money }}
                        </del>
                      {% endif %}
                    {% else %}
                      <div data-product-price>
                        {{ current_variant.price | money }}
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div {{ block.shopify_attributes }}>
                  {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                    {{ form | payment_terms }}
                  {%- endform -%}
                </div>
              {% when "buy_buttons" %}
                {% unless section_onboarding %}
                  {% render 'product-form',
                    id: product_form_id,
                    product: product,
                    blocks: section.blocks,
                    show_variant_label: section.settings.show_variant_label,
                    show_size_chart: section.settings.show_size_chart,
                    size_chart_url: section.settings.size_chart_url,
                    show_dynamic_button: block.settings.show_dynamic_checkout
                  %}
                {% else %}
                  <form >
                    <div class="product__price">
                      <div class="product__price__box flex flex-wrap items-center" data-price-wrapper>
                        <div data-product-price>
                          {{ 1999 | money }}
                        </div>
                          <span class="accessibility" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                          <del data-compare-price>
                            {{ 29999 | money }}
                          </del>
                      </div>
                    </div>
                    <div class="sm:flex sm:space-x-8">
                      <div class="sm:w-4/12">
                        <div class="product__row">
                          {% render 'button',
                            element: 'button',
                            locales_text: 'products.product.sold_out',
                            data_attribute: 'data-submit-button',
                            class: 'w-100 disabled',
                            other: 'name="add" disabled',
                            type: 'submit' %}
                        </div>
                      </div>
                    </div>
                  </form>
                {% endunless %}
                {% when "variant_picker" %}
                <div id="variant-selects" class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                {% unless product.has_only_default_variant %}
                  {% for option in product.options_with_values %}
                    <div class="sm:flex sm:space-x-8 product__row">
                      <div class="sm:w-7/12 lg:w-5/12 relative">
                        <label class="product__label {% if show_variant_label == false %}visually-hidden{% endif %}" for="Option{{ option.position }}">
                          {{ option.name }}
                        </label>
                        {% assign size_option = 'products.product.size' | t | downcase %}
                        {% assign options = product.options | downcase %}
                        {% if forloop.first and show_size_chart and size_chart_url != blank and options contains size_option %}
                          {% if show_variant_label == false %}
                            <div class="text-right pb-2">
                          {% endif %}
                          <a class="size-chart-link"
                             data-type="ajax"
                             data-filter=".section .container"
                             href="{{ size_chart_url }}">{{ 'products.product.size_chart' | t }}</a>
                          {% if show_variant_label == false %}
                            </div>
                          {% endif %}
                        {% endif %}
                        <select
                          class="product__select w-100"
                          id="Option{{ option.position }}"
                          name="options[{{ option.name | escape }}]"
                          form="{{ product_form_id }}"
                          >
                          {% for value in option.values %}
                            <option
                                    value="{{ value | escape }}"
                                    {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  {% endfor %}
                {% endunless %}
                <script type="application/json">
                  {{ product.variants | json }}
                </script>
              </div>

              <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                  <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                  <div class="select">
                    <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                      {%- for variant in product.variants -%}
                        <option
                          {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                          {% if variant.available == false %}disabled{% endif %}
                          value="{{ variant.id }}"
                        >
                          {{ variant.title }}
                          {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                          - {{ variant.price | money | strip_html }}
                        </option>
                      {%- endfor -%}
                    </select>
                  </div>
                </div>
              </noscript>

              {% when "quantity_selector" %}
                  <div class="sm:flex sm:space-x-8 product__row">
                    <div class="sm:w-7/12 lg:w-5/12">
                      <label class="product__label" for="Quantity">{{ 'products.product.quantity' | t }}</label>
                      <input type="number" id="Quantity" class="w-100" name="quantity" value="1" min="1" form="{{ product_form_id }}">
                    </div>
                  </div>
              {% when "description" %}
                <div class="product__row rte">
                  {% if product.description %}
                    {{ product.description }}
                  {% else %}
                    {{ 'homepage.onboarding.product_description' | t }}
                  {% endif %}
                </div>
              {% when "share" %}
                  {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
            {% endcase %}
          {% endfor %}

          <div class="accordion">
 
            <div>
                <h1> Heading </h1>
                <div> Content </div>
            </div>
            
            <div>
                <h1> Heading </h1>
                <div> Content </div>
            </div>
            
          </div>

          <ul class="accordion mb-6 rte hidden" data-multiselectable="false">
            <li>
              <div role="heading" aria-level="3">
                <button class="accordion__opener title-1" id="product-tab-1" aria-controls="product-accordion-slide-1" data-expand="true">
                  Product Details
                </button>
              </div>
              <div class="accordion__slide" id="product-accordion-slide-1" aria-labelledby="product-tab-1" aria-hidden="false">
                <div class="accordion__block">
                  <div class="title-1 mb-2">
                    DJI Mavic Air 2 Key Features
                  </div>
                  <ul>
                    <li>
                      8K Hyperlapse Time-Lapse Video
                    </li>
                    <li>
                      8K Hyperlapse Time-Lapse Video
                    </li>
                    <li>
                      8K Hyperlapse Time-Lapse Video
                    </li>
                    <li>
                      8K Hyperlapse Time-Lapse Video
                    </li>
                  </ul>
                  <div class="body-2">
                    <p>
                      A midrange drone with flagship features, the DJI Mavic Air 2 combines a foldable and portable frame with a high-end camera system. The 3-axis gimbal sports a 1/2" CMOS sensor capable of capturing 8K Hyperlapse time-lapse shots, 4K60 video, 240 fps slow-motion 1080p video, and up to 48MP stills.
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div role="heading" aria-level="3">
                <button class="accordion__opener title-1" id="product-tab-2" aria-controls="product-accordion-slide-2" aria-expanded="false">
                  Specifications
                </button>
              </div>
              <div class="accordion__slide" id="product-accordion-slide-2" aria-labelledby="product-tab-2">
                <div class="accordion__block">
                  <dl>
                    <dt>Brand</dt>
                    <dd>DJI</dd>
                    <dt>Dimensions - Depth</dt>
                    <dd>DJI</dd>
                    <dt>Brand</dt>
                    <dd>DJI</dd>
                    <dt>Dimensions - Depth</dt>
                    <dd>CP.MA.0000017603</dd>
                    <dt>Brand</dt>
                    <dd>DJI</dd>
                    <dt>Brand</dt>
                    <dd>DJI</dd>
                    <dt>Brand</dt>
                    <dd>DJI</dd>
                    <dt>Brand</dt>
                    <dd>DJI</dd>
                    <dt>Brand</dt>
                    <dd>DJI</dd>
                    <dt>Brand</dt>
                    <dd>DJI</dd>
                  </dl>
                </div>
              </div>
            </li>
            <li>
              <div role="heading" aria-level="3">
                <button class="accordion__opener title-1" id="product-tab-3" aria-controls="product-accordion-slide-3" aria-expanded="false">
                  Warranty & Services
                </button>
              </div>
              <div class="accordion__slide" id="product-accordion-slide-3" aria-labelledby="product-tab-3">
                <div class="accordion__block">
                  <div class="body-2">
                    <p>
                      Free Technical Support
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div role="heading" aria-level="3">
                <button class="accordion__opener title-1" id="product-tab-4" aria-controls="product-accordion-slide-4" aria-expanded="false">
                  Shipping & Returns
                </button>
              </div>
              <div class="accordion__slide" id="product-accordion-slide-4" aria-labelledby="product-tab-4">
                <div class="accordion__block">
                  <ul>
                    <li>
                      Standard shipping via UPS Ground is included in the quoted price.
                    </li>
                    <li>
                      Express shipping is via UPS.
                    </li>
                    <li>
                      Please choose your shipping method at checkout.
                    </li>
                    <li>
                      An additional Shipping and Handling fee will apply to express shipments. This fee will be quoted at checkout.
                    </li>
                    <li>
                      Delivery is available to Alaska, Hawaii and Puerto Rico; however, an additional Shipping and Handling fee will apply. This fee will be quoted at checkout. Additional transit time may also be required.
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>

          <div class="accordion hidden" data-multiselectable="true">
            <h3>
              <button id="tab1" aria-controls="panel1">Entête n<sup>o</sup> 1</button>
            </h3>
            <div id="panel1" aria-labelledby="tab1" aria-hidden="false">
              <p>---</p>
            </div>
            <h3>
              <button id="tab2" aria-controls="panel2" >Entête n<sup>o</sup> 2</button>
            </h3>
            <div id="panel2" aria-labelledby="tab2">
              <p>---</p>
            </div>
            <h3>
              <button id="tab3" aria-controls="panel3" >Entête n<sup>o</sup> 3</button>
            </h3>
            <div id="panel3" aria-labelledby="tab3">
              <p>---</p>
            </div>
            <h3>
              <button id="tab4" aria-controls="panel4">Entête n<sup>o</sup> 4</button>
            </h3>
            <div id="panel4" aria-labelledby="tab4">
              <p>---</p>
            </div>
          </div>

          <div class="accordion hidden">
            <p class="tab" role="heading" aria-level="3"><span id="tab21" role="button" aria-controls="panel21" tabindex="0" aria-expanded="false">Entête n<sup>o</sup>&nbsp;1
                <svg class="icon-tab" aria-hidden="true">
                  <use class="pipe" xlink:href="#icon-tabOpened"></use>
                  <use class="dash" xlink:href="#icon-tabClosed"></use>
                </svg></span></p>
            <div class="panel" id="panel21" aria-labelledby="tab21" aria-hidden="true" style="">
              <p>Il est possible de n’ouvrir qu'un seul panneau à la fois en mettant l’attribut <code>data-multiselectable</code> à <code>false</code>.</p>
            </div>
            <p class="tab" role="heading" aria-level="3"><span id="tab22" role="button" aria-controls="panel22" tabindex="0" aria-expanded="true">Entête n<sup>o</sup>&nbsp;2
                <svg class="icon-tab" aria-hidden="true">
                  <use class="pipe" xlink:href="#icon-tabOpened"></use>
                  <use class="dash" xlink:href="#icon-tabClosed"></use>
                </svg></span></p>
            <div class="panel open" id="panel22" aria-labelledby="tab22" aria-hidden="false">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non distinctio, corporis, sapiente in accusantium perferendis consectetur quos quis, fugiat assumenda obcaecati. Reiciendis culpa, ut repellendus suscipit, iste rem. Animi, reprehenderit.</p>
            </div>
            <p class="tab" role="heading" aria-level="3"><span id="tab23" role="button" aria-controls="panel23" tabindex="0" aria-expanded="true">Entête n<sup>o</sup>&nbsp;3
                <svg class="icon-tab" aria-hidden="true">
                  <use class="pipe" xlink:href="#icon-tabOpened"></use>
                  <use class="dash" xlink:href="#icon-tabClosed"></use>
                </svg></span></p>
            <div class="panel" id="panel23" aria-labelledby="tab23" aria-hidden="true">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, eos, cumque. Suscipit, eius, cupiditate! Placeat voluptate quis, iste iure culpa, sequi, inventore ducimus vel voluptates nam, ut architecto ab reprehenderit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
