{% unless grid_item_width %}
  {% assign grid_item_width = 'col-sm-6 col-lg-3' %}
{% endunless %}


<div class="{{ grid_item_width }}">
  <div class="product-item text-center">
    <a href="{{ product.url | within: collection }}" class="product-item__img relative">
      {% if product.featured_image != blank %}
        {% render
          "image",
          src: product.featured_image,
          d: '302x376',
          src_m: product.featured_image,
          m: '162x202',
          placeholder: 'img-placeholder.png',
          alt: product.featured_image.alt
        %}
      {% else %}
        {{ 'image' | placeholder_svg_tag: "placeholder-svg" }}
      {% endif %}
      <div class="absolute top-2 left-2 bottom-2 right-2 flex items-start">
        <div class="product-item__label base-label flex flex-wrap">
          {% if product.compare_at_price > product.price %}
            <div class="product-item__label-sale">{{ 'products.product_card.labels.sale' | t }}</div>
          {% endif %}
          {% unless product.available %}
            <div class="product-item__label-soldout">{{ 'products.product_card.labels.sold_out' | t }}</div>
          {% endunless %}
          {% if product.tags contains "new" %}
             <div class="product-item__label-new">{{ 'products.product_card.labels.new' | t }}</div>
          {% endif %}
        </div>
      </div>
    </a>
    <div class="product-item__box">
      <h3 class="product-item__title">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </h3>
      {% render "product-price", product: product %}
    </div>
  </div>
</div>
