<div
  data-section-id="{{ section.id }}"
  class="product-complementary"
  data-section-type="product-complementary"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ pairs_max_product_count }}&intent=complementary"
>
  {%- if recommendations.performed? and recommendations.products_count > 0 -%}
    {%- for product in recommendations.products -%}
      {% if forloop.index <= pairs_per_page %}
        <div class="accordion__block-item flex mb-4">
          <a href="#" class="accordion__product-img flex-shrink-0 mr-4">
            {% render 'image', src: product.featured_image, d: '100x100', m: '90x', crop: 'center' %}
          </a>
          <div>
            <div class="title mb-2">
              <a href="{{ product.url | within: collection }}" class="no-underline hover:underline">
                {{ product.title }}
              </a>
            </div>
            <div class="product-price-large">
              {% render 'product-price', product: product %}
            </div>
          </div>
        </div>
      {% endif %}
    {%- endfor -%}
  {%- endif -%}
</div>
