{% assign section_onboarding = false %}
{% if product == empty %}
  {%- assign section_onboarding = true -%}
{% endif %}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign show_size_chart = section.settings.show_size_chart -%}
{%- assign size_chart_url = section.settings.size_chart_url -%}
{%- assign show_variant_label = section.settings.show_variant_label -%}
{%- assign product_form_id = 'product-form-' | append: section.id -%}
{%- assign show_quantity = section.settings.show_quantity -%}
{%- assign show_dynamic_button = section.settings.show_dynamic_button -%}

<section data-section-id="{{ section.id }}"
         class="section page-section"
         data-section-type="product"
         data-handle="{{ product.handle }}">
  <div class="container">
    <div class="md:flex md:space-x-8">
      <div class="md:w-6/12 mb-4 md:mb-0">
        {% unless section_onboarding %}
          <div class="splide product-gallery">
            <div class="splide__track">
              <div class="splide__list">
                {% if product.media.size > 0 %}
                  {% for media in product.media %}
                    {% render 'product-media', media: media, main: true %}
                  {% endfor %}
                {% else %}
                  {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="splide product-gallery-thumbs">
            {% if product.media.size > 1 %}
              <div class="splide__track">
                <div class="splide__list">
                  {% for media in product.media %}
                    {% render 'product-media', media: media %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endunless %}
      </div>
      <div class="md:w-6/12">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when "@app" %}
            <div class="product__rating mb-5">
              {% render block %}
            </div>
            {% when "title" %}
              {% unless section_onboarding %}
                  <h1 class="product__title" {{ block.shopify_attributes }}>{{ product.title }}</h1>
              {% else %}
                  <h1 class="product__title">{{ 'homepage.onboarding.product_title' | t }}</h1>
              {% endunless %}
            {% when "vendor" %}
              {% if section.settings.show_vendor %}
                <div class="product__vendor mb-1 md:mb-2" {{ block.shopify_attributes }}>{{ product.vendor }}</div>
              {% endif %}
            {% when "price" %}
              <div class="product__price mb-3" {{ block.shopify_attributes }}>
                <div class="product__price__box flex flex-wrap items-center" data-price-wrapper>
                  {% if product.compare_at_price_max > product.price %}
                    <ins data-product-price>
                      {{ current_variant.price | money }}
                    </ins>
                    <span class="accessibility" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                    {% if current_variant.compare_at_price > current_variant.price %}
                      <del data-compare-price>
                        {{ current_variant.compare_at_price | money }}
                      </del>
                    {% endif %}
                  {% else %}
                    <div data-product-price>
                      {{ current_variant.price | money }}
                    </div>
                  {% endif %}
                </div>
              </div>
              <div {{ block.shopify_attributes }}>
                {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  {{ form | payment_terms }}
                {%- endform -%}
              </div>
            {% when "buy_buttons" %}
              {% unless section_onboarding %}
                {% render 'product-form',
                  id: product_form_id,
                  product: product,
                  blocks: section.blocks,
                  show_quantity: section.settings.show_quantity,
                  show_variant_label: section.settings.show_variant_label,
                  show_size_chart: section.settings.show_size_chart,
                  size_chart_url: section.settings.size_chart_url,
                  show_dynamic_button: section.settings.show_dynamic_button
                %}
              {% else %}
                <form >
                  <div class="product__price">
                    <div class="product__price__box flex flex-wrap items-center" data-price-wrapper>
                      <div data-product-price>
                        {{ 1999 | money }}
                      </div>
                        <span class="accessibility" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                        <del data-compare-price>
                          {{ 29999 | money }}
                        </del>
                    </div>
                  </div>
                  <div class="sm:flex sm:space-x-8">
                    <div class="sm:w-4/12">
                      <div class="product__row">
                        {% render 'button',
                          element: 'button',
                          locales_text: 'products.product.sold_out',
                          data_attribute: 'data-submit-button',
                          class: 'w-100 disabled',
                          other: 'name="add" disabled',
                          type: 'submit' %}
                      </div>
                    </div>
                  </div>
                </form>
              {% endunless %}
              {% when "variant_picker" %}
              <div id="variant-selects" class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
              {% unless product.has_only_default_variant %}
                {% for option in product.options_with_values %}
                  <div class="sm:flex sm:space-x-8 product__row">
                    <div class="sm:w-7/12 lg:w-5/12 relative">
                      {% assign size_option = 'products.product.size' | t | downcase %}
                      {% assign options = product.options | downcase %}
                      {% if forloop.first and show_size_chart and size_chart_url != blank and options contains size_option %}
                        <a class="size-chart-link"
                          data-type="ajax"
                          href="{{ size_chart_url }}">{{ 'products.product.size_chart' | t }}</a>
                      {% endif %}
                      <label class="product__label" for="Option{{ option.position }}">
                        {% if show_variant_label %}
                          {{ option.name }}
                        {% endif %}
                      </label>
                      <select
                        class="product__select w-100"
                        id="Option{{ option.position }}"
                        name="options[{{ option.name | escape }}]"
                        form="{{ product_form_id }}"
                        >
                        {% for value in option.values %}
                          <option
                                  value="{{ value | escape }}"
                                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                            {{ value }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                {% endfor %}
              {% endunless %}
              <script type="application/json">
                {{ product.variants | json }}
              </script>
            </div>

            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                </div>
              </div>
            </noscript>

            {% when "quantity_selector" %}
              {% if show_quantity %}
                <div class="sm:flex sm:space-x-8 product__row">
                  <div class="sm:w-7/12 lg:w-5/12">
                    <label class="product__label" for="Quantity">{{ 'products.product.quantity' | t }}</label>
                    <input type="number" id="Quantity" class="w-100" name="quantity" value="1" min="1" form="{{ product_form_id }}">
                  </div>
                </div>
              {% endif %}
            {% when "description" %}
              <div class="product__row rte">
                {% if product.description %}
                  {{ product.description }}
                {% else %}
                  {{ 'homepage.onboarding.product_description' | t }}
                {% endif %}
              </div>
            {% when "share" %}
              {% if section.settings.show_share_buttons %}
                {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
              {% endif %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
