{% case media.media_type %}
  {% when 'image' %}
    {%- if main -%}
      <div class="swiper-slide">
        <div class="product-gallery__img" data-position="{{ media.position }}">
          {% render
            'image',
            src: media,
            d: '635x791',
            src_m: media,
            m: '343x428',
            crop: 'center'
          %}
        </div>
      </div>
    {%- else -%}
      <div class="swiper-slide">
        <div class="product-gallery-thumbs__img">
          {% render
            'image',
            src: media,
            d: '198x248',
            src_m: media,
            m: '102x128',
            crop: 'center'
          %}
        </div>
      </div>
    {%- endif -%}
  {% when 'external_video' %}
    <div class="swiper-slide" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100}}%;" data-media-id="{{ media.id }}">
      {{ media | external_video_tag }}
    </div>
  {% when 'video' %}
    {%- if main -%}
      <div class="swiper-slide">
        <div class="jquery-background-video-wrapper">
          {{ media | video_tag: controls: true | replace:'<video', '<video class="jquery-background-video" autoplay loop' }}
          <div class="video-overlay" style="background-image:url({{media.preview_image | img_url:'565x'}});"></div>
        </div>
      </div>
    {%- else -%}
      <div class="swiper-slide">
        <div class="product-block__gallery__switcher">
          <img src="{{media.preview_image | img_url:'200x'}}" alt="Hayden Expanding Floss">
        </div>
      </div>
    {%- endif -%}
  {% when 'model' %}
    <div class="product-single__media" style="padding-top: 100%" data-media-id="{{ media.id }}">
      {{ media | model_viewer_tag }}
    </div>
    {% else %}
    <div class="product-single__media" style="padding-top: 100%;" data-media-id="{{ media.id }}">
      {{ media | media_tag }}
    </div>
{% endcase %}
