{% case media.media_type %}
  {% when 'image' %}
    <div class="product__gallery-slider__item lg:pr-4 md:pb-4">
      <div class="product__gallery-slider__img" data-position="{{ media.position }}">
        {% render
          'image',
          src: media,
          d: '635x791',
          src_m: media,
          m: '345x431',
          alt: media.alt,
          placeholder: 'img-placeholder.png'
        %}
      </div>
    </div>
  {% when 'external_video' %}
    <div class="product__gallery-slider__item lg:pr-4 md:pb-4 lg:w-100" data-media-id="{{ media.id }}">
      <div class="fluid-iframe">
        {{ media | external_video_tag }}
      </div>
    </div>
  {% when 'video' %}
    <div class="product__gallery-slider__item lg:pr-4 md:pb-4 lg:w-100">
      <div class="jquery-background-video-wrapper"
            data-section-type="video"
            data-section-id="{{ section.id }}">
        {{ media | video_tag: controls: false | replace: '<video', '<video class="jquery-background-video" autoplay muted loop' }}
        <div class="video-overlay" style="background-image: url({{ media.preview_image | img_url: '565x' }});"></div>
      </div>
    </div>
  {% when 'model' %}
    <div class="product__gallery-slider__item lg:pr-4 md:pb-4 lg:w-100">
      <div class="model-viewer-block">
        <model-viewer alt="{{ media.alt }}" src="{{ media.sources[0].url }}" poster="{{ media.preview_image | img_url: 'master' }}" camera-controls></model-viewer>
      </div>
    </div>
  {% else %}
    <div class="product-single__media" style="padding-top: 100%;" data-media-id="{{ media.id }}">
      {{ media | media_tag }}
    </div>
{% endcase %}
