{% case media.media_type %}
  {% when 'image' %}
    <div class="product__gallery-slider__item lg:pr-4 md:pb-4">
      <div class="product__gallery-slider__img" data-position="{{ media.position }}">
        {% render
          'image',
          src: media,
          d: '635x791',
          src_m: media,
          m: '345x431',
          alt: media.alt,
          placeholder: 'img-placeholder.png'
        %}
      </div>
    </div>
  {% when 'external_video' %}
  <div class="product__gallery-slider__item lg:pr-4 md:pb-4 lg:w-100">
    <deferred-media class="deferred-media media product-gallery__img fluid-iframe" data-media-id="{{ media.id }}">
      <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster relative" type="button">
        <span class="deferred-media__poster-button motion-reduce">
          <span class="visually-hidden">Play video</span>
          {% render 'icon' with 'play' %}
        </span>
        {% render
          'image',
          src: media,
          d: '635x791',
          src_m: media,
          m: '345x431',
          alt: media.alt,
          placeholder: 'img-placeholder.png'
        %}
      </button>
      <template>
        {%- assign video_class = 'js-' | append: media.host -%}
        {%- if media.host == 'youtube' -%}
          {{ media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy" }}
        {%- else -%}
          {{ media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: "lazy" }}
        {%- endif -%}
      </template>
    </deferred-media>
  </div>
  {% when 'video' %}
    <div class="product__gallery-slider__item lg:pr-4 md:pb-4 lg:w-100">
      <div class="jquery-background-video-wrapper"
            data-section-type="video"
            data-section-id="{{ section.id }}">
        {{ media | video_tag: controls: false | replace: '<video', '<video class="jquery-background-video" autoplay muted loop' }}
        <div class="video-overlay" style="background-image: url({{ media.preview_image | image_url: width: 565 }});"></div>
      </div>
    </div>
  {% when 'model' %}
    <div class="product__gallery-slider__item lg:pr-4 md:pb-4 lg:w-100">
      <div class="model-viewer-block">
        <product-model class="deferred-media media media--transparent">
          <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
            <span class="deferred-media__poster-button motion-reduce">
              <span class="visually-hidden">Play video</span>
              {% render 'icon' with 'play' %}
            </span>
            {% if main %}
              {% render
                'image',
                src: media,
                d: '635x791',
                src_m: media,
                m: '345x431',
                alt: media.alt,
                placeholder: 'img-placeholder.png'
              %}
            {% else %}
              {% render
                'image',
                src: media,
                d: '191x237',
                src_m: media,
                m: '103x130',
                alt: media.alt,
                placeholder: 'img-placeholder.png'
              %}
            {% endif %}
          </button>
          <template>
            {%- case media.media_type -%}
              {%- when 'model' -%}
                {{ media | media_tag: image_size: "2048x", toggleable: true }}
            {%- endcase -%}
          </template>
        </product-model>
      </div>
    </div>
  {% else %}
    <div class="product-single__media" style="padding-top: 100%;" data-media-id="{{ media.id }}">
      {{ media | media_tag }}
    </div>
{% endcase %}
