{% case media.media_type %}
  {% when 'image' %}
    {%- if main -%}
      <div class="splide__slide">
        <div class="product-gallery__img" data-position="{{ media.position }}">
          {% render
            'image',
            src: media,
            d: '635x791',
            src_m: media,
            m: '345x431',
            alt: media.alt,
            placeholder: 'img-placeholder.png'
          %}
        </div>
      </div>
    {%- else -%}
      <div class="splide__slide">
        <div class="product-gallery-thumbs__img">
          {% render
            'image',
            src: media,
            d: '191x237',
            src_m: media,
            m: '103x130',
            alt: media.alt,
            placeholder: 'img-placeholder.png'
          %}
        </div>
      </div>
    {%- endif -%}
  {% when 'external_video' %}
    <div class="splide__slide" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;" data-media-id="{{ media.id }}">
      {{ media | external_video_tag }}
    </div>
  {% when 'video' %}
    {%- if main -%}
      <div class="splide__slide">
        <div class="jquery-background-video-wrapper"
             data-section-type="video"
             data-section-id="{{ section.id }}">
          {{ media | video_tag: controls: false | replace: '<video', '<video class="jquery-background-video" autoplay muted loop' }}
          <div class="video-overlay" style="background-image: url({{ media.preview_image | img_url: '565x' }});"></div>
        </div>
      </div>
    {%- else -%}
      <div class="splide__slide">
        <div class="product-block__gallery__switcher">
          <img src="{{media.preview_image | img_url: '200x'}}" alt="Hayden Expanding Floss">
        </div>
      </div>
    {%- endif -%}
  {% when 'model' %}
    <div class="splide__slide">
      <div class="model-viewer-block">
        <product-model class="deferred-media media media--transparent" style="padding-top: min(calc(100vh - 12rem), 100%)">
          <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
            <span class="deferred-media__poster-button motion-reduce">
            </span>
            <img
              srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                      {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                      {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
                      {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w,{% endif %}
                      {{ media.preview_image | img_url: 'master' }} {{ media.preview_image.width }}w"
              src="{{ media | img_url: '550x550' }}"
              sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
              loading="lazy"
              width="576"
              height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
              alt="{{ media.preview_image.alt | escape }}"
            >
          </button>
          <template>
            {%- case media.media_type -%}
            {%- when 'model' -%}
              {{ media | media_tag: image_size: "2048x", toggleable: true }}
            {%- endcase -%}
          </template>
        </product-model>
        <button
        class="button button--full-width product__xr-button"
        type="button"
        aria-label="{{ 'products.product.xr_button_label' | t }}"
        data-shopify-xr
        data-shopify-model3d-id="{{ media.id }}"
        data-shopify-title="title"
        data-shopify-xr-hidden
        >
          {{ 'products.product.xr_button' | t }}
        </button>
      </div>
    </div>
  {% else %}
    <div class="product-single__media" style="padding-top: 100%;" data-media-id="{{ media.id }}">
      {{ media | media_tag }}
    </div>
{% endcase %}
