{% liquid
  assign section_onboarding = false
  if product == empty
    assign section_onboarding = true
  endif
  assign current_variant = product.selected_or_first_available_variant
  assign show_size_chart = section.settings.show_size_chart
  assign size_chart_url = section.settings.size_chart_url
  assign show_variant_label = section.settings.show_variant_label
  assign show_following_image = section.settings.show_following_image
  assign product_form_id = 'product-form-' | append: section.id
  assign first_image_eager = first_image_eager | default: false
%}

<section
  data-section-id="{{ section.id }}"
  class="pb-5 md:py-5"
  data-section-type="product"
  data-handle="{{ product.handle }}"
>
  <div class="container overflow-hidden md:overflow-visible">
    <div class="md:flex md:space-x-8">
      <div class="mb-4 md:mb-0 md:w-6/12">
        {% unless section_onboarding %}
          <div class="product__gallery-slider {% if show_following_image and product.media.size > 1 %} product__gallery-slider--alt {% endif %} lg:flex lg:flex-wrap">
            {% render 'product-gallery', product: product, current_variant: current_variant, enable_lazyload: enable_lazyload %}
          </div>
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endunless %}
      </div>
      <div class="md:w-6/12">
        <div class="product-main-block__details product-main-block__details--sticky">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when "@app" %}
                <div class="product__rating mb-5">
                  {% render block %}
                </div>
              {% when "title" %}
                {% unless section_onboarding %}
                  <h1
                    class="h5 mb-1 md:mb-2"
                    {{ block.shopify_attributes }}
                  >
                    {{ product.title }}
                  </h1>
                {% else %}
                  <h1 class="h5 mb-1 md:mb-2">{{ 'homepage.onboarding.product_title' | t }}</h1>
                {% endunless %}
              {% when "vendor" %}
                <div
                  class="body-small"
                  {{ block.shopify_attributes }}
                >
                  {{ product.vendor }}
                </div>
              {% when "text" %}
                <div
                  {% if block.settings.text_style != "" %}
                    class="{{ block.settings.text_style }}"
                  {% endif %}
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.text }}
                </div>
              {% when "price" %}
                <div
                  class="product__price product-price-large mb-1 overflow-hidden md:mb-2"
                  {{ block.shopify_attributes }}
                >
                  <div
                    class="product__price__box flex flex-wrap items-center"
                    data-price-wrapper
                  >
                    {% if current_variant.compare_at_price > current_variant.price %}
                      <ins data-product-price>
                        {{ current_variant.price | money }}
                      </ins>
                      <span
                        class="accessibility"
                        data-compare-text
                      >
                        {{ 'products.product.regular_price' | t }}
                      </span>
                      <del data-compare-price>
                        {{ current_variant.compare_at_price | money }}
                      </del>
                    {% else %}
                      <div data-product-price>
                        {{ current_variant.price | money }}
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div
                  class="product-price-small mb-1 md:mb-2"
                  data-unit-price-wrapper
                >
                  {% liquid
                    if current_variant.unit_price_measurement
                      echo current_variant.unit_price | money | append: ' / '
                      if current_variant.unit_price_measurement.reference_value != 1
                        echo current_variant.unit_price_measurement.reference_value | append: ' '
                      endif
                      echo current_variant.unit_price_measurement.reference_unit
                    endif
                  %}
                </div>
                {% if cart.taxes_included %}
                  <div class="body-medium base-secondary-text mb-4">{{ 'products.product.tax_included' | t }}</div>
                {% endif %}
                <div
                  data-calculate="calculate"
                  class="shipping_rates"
                >
                  <div class="product__tax caption rte">
                    <a
                      id="shipping-rates-button"
                      href="#"
                      {% unless product.available %}
                        class="disabled"
                      {% endunless %}
                    >
                      Calculate the current total cart shipping cost
                    </a>
                  </div>
                  <div
                    class="rates_loading hidden"
                    id="rates_loading"
                  >
                    <div class="rates_spinner">
                      <svg class="spinner" viewBox="0 0 50 50">
                        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                      </svg>
                    </div>
                    <div id="shipping-rates__loading">Getting available shipping rates...</div>
                  </div>
                </div>
              {% when "buy_buttons" %}
                {% unless section_onboarding %}
                  {%
                    render 'product-form',
                    id: product_form_id,
                    product: product,
                    blocks: section.blocks,
                    show_variant_label: section.settings.show_variant_label,
                    show_size_chart: section.settings.show_size_chart,
                    size_chart_url: section.settings.size_chart_url,
                    show_dynamic_button: block.settings.show_dynamic_checkout
                  %}
                {% else %}
                  <form>
                    <div class="product__price">
                      <div
                        class="product__price__box flex flex-wrap items-center"
                        data-price-wrapper
                      >
                        <div data-product-price>
                          {{ 1999 | money }}
                        </div>
                        <span
                          class="accessibility"
                          data-compare-text
                        >
                          {{ 'products.product.regular_price' | t }}
                        </span>
                        <del data-compare-price>
                          {{ 29999 | money }}
                        </del>
                      </div>
                    </div>
                    <div class="sm:flex sm:space-x-8">
                      <div class="sm:w-4/12">
                        <div class="product__row">
                          {%
                            render 'button',
                            element: 'button',
                            locales_text: 'products.product.sold_out',
                            data_attribute: 'data-submit-button',
                            class: 'w-100 disabled',
                            other: 'name="add" disabled',
                            type: 'submit'
                          %}
                        </div>
                      </div>
                    </div>
                  </form>
                {% endunless %}
              {% when "variant_picker" %}
                <div
                  id="variant-selects"
                  class="no-js-hidden"
                  data-section="{{ section.id }}"
                  data-url="{{ product.url }}"
                  {{ block.shopify_attributes }}
                >
                  {% unless product.has_only_default_variant %}
                    {% for option in product.options_with_values %}
                      <div class="mb-4 sm:flex">
                        <div class="w-100 md:w-10/12 xl:w-6/12">
                          <div class="body-medium base-secondary-text relative mb-1 flex">
                            <label for="Option{{ option.position }}">
                              {{ option.name }}
                            </label>
                            {% liquid
                              assign size_option = 'products.product.size' | t | downcase
                              assign options = product.options | downcase
                            %}
                            {% if forloop.first and show_size_chart and size_chart_url != blank and options contains size_option %}
                              {% capture size_chart_link %}
                                <a
                                  class="size-chart-link"
                                  data-type="ajax"
                                  data-filter=".section .container"
                                  href="{{ size_chart_url }}"
                                >
                                  {{- 'products.product.size_chart' | t -}}
                                </a>
                              {% endcapture %}
                              {% if show_variant_label == false %}
                                <div class="pb-2 text-right">
                                  {{ size_chart_link }}
                                </div>
                              {% else %}
                                {{ size_chart_link }}
                              {% endif %}
                            {% endif %}
                          </div>
                          <div class="select-holder">
                            <select
                              class="product__select w-100"
                              id="Option{{ option.position }}"
                              name="options[{{ option.name | escape }}]"
                              form="{{ product_form_id }}"
                            >
                              {% for value in option.values %}
                                <option
                                  value="{{ value | escape }}"
                                  {% if option.selected_value == value %}
                                    selected="selected"
                                  {% endif %}
                                >
                                  {{ value }}
                                </option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  {% endunless %}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </div>

                <noscript class="product-form__noscript-wrapper-{{ section.id }}">
                  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                    <label
                      class="form__label"
                      for="Variants-{{ section.id }}"
                    >
                      {{- 'products.product.product_variants' | t -}}
                    </label>
                    <div class="select">
                      <select
                        name="id"
                        id="Variants-{{ section.id }}"
                        class="select__select"
                        form="{{ product_form_id }}"
                      >
                        {%- for variant in product.variants -%}
                          <option
                            {% if variant == product.selected_or_first_available_variant %}
                              selected="selected"
                            {% endif %}
                            {% if variant.available == false %}
                              disabled
                            {% endif %}
                            value="{{ variant.id }}"
                          >
                            {{ variant.title }}
                            {%- if variant.available == false %}- {{ 'products.product.sold_out' | t }}{% endif %}
                            - {{ variant.price | money | strip_html }}
                          </option>
                        {%- endfor -%}
                      </select>
                    </div>
                  </div>
                </noscript>
              {% when "quantity_selector" %}
                <div class="mb-4 sm:flex">
                  <div class="w-100 md:w-10/12 xl:w-6/12">
                    <label
                      for="quantity"
                      class="body-medium base-secondary-text mb-1 inline-block"
                    >
                      {{- 'products.product.quantity' | t -}}
                    </label>
                    <div class="jcf-number jcf-number--full-width flex w-100 items-center">
                      <button
                        class="jcf-btn-dec"
                        type="button"
                      >
                        <span class="visually-hidden">{{ 'products.product.quantity_decrease' | t }}</span>
                      </button>
                      <input
                        type="number"
                        id="Quantity"
                        class="w-100"
                        name="quantity"
                        value="1"
                        min="1"
                        aria-label="Quantity"
                        form="{{ product_form_id }}"
                      >
                      <button
                        class="jcf-btn-inc jcf-disabled"
                        type="button"
                      >
                        <span class="visually-hidden">{{ 'products.product.quantity_increase' | t }}</span>
                      </button>
                    </div>
                    <div class="product-form__error-message body-small pt-4"></div>
                  </div>
                </div>
              {% when "description" %}
                {% liquid
                  assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true
                  assign closest_location = pick_up_availabilities.first
                %}

                <div
                  class="pickup-availability-info mb-4 pt-4"
                  data-store-availability-container
                >
                  {%- if pick_up_availabilities.size > 0 -%}
                    <div class="flex">
                      <div class="pickup-availability-info__ico mr-2 shrink-0">
                        {% liquid
                          if closest_location.available
                            render 'icon' with 'tick'
                          else
                            render 'icon' with 'unavailable'
                          endif
                        %}
                      </div>
                      <div>
                        {%- if closest_location.available -%}
                          <div>
                            {{ 'products.product.pick_up_available_at_html' | t: location_name: closest_location.location.name }}
                          </div>
                          <div class="body-small mb-3">{{ closest_location.pick_up_time }}</div>
                          <button
                            type="button"
                            class="pickup-availability-button page-wrapper__opener underline hover:no-underline"
                          >
                            {%- if pick_up_availabilities.size == 1 -%}
                              {{ 'products.product.view_store_info' | t }}
                            {%- else -%}
                              {{ 'products.product.check_other_stores' | t }}
                            {%- endif -%}
                          </button>
                        {%- else -%}
                          <div>
                            {{ 'products.product.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}
                          </div>
                          {%- if pick_up_availabilities.size > 1 -%}
                            <button
                              type="button"
                              class="pickup-availability-button page-wrapper__opener underline hover:no-underline"
                            >
                              {{ 'products.product.check_other_stores' | t }}
                            </button>
                          {%- endif -%}
                        {%- endif -%}
                      </div>
                    </div>
                  {% endif %}
                </div>

                <div class="product__row rte mb-4 md:mb-5">
                  {% if product.description %}
                    {{ product.description }}
                  {% else %}
                    {{ 'homepage.onboarding.product_description' | t }}
                  {% endif %}
                </div>
              {% when "share" %}
                {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
              {% when 'complementary' %}
                {% render 'product-complementary-products', block: block %}
              {%- when 'custom_liquid' -%}
                {{ block.settings.custom_liquid }}
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>

    {% render 'pickup-availability-drawer', product: product %}
  </div>
  <script type="application/json" id="product-json">
    {% render 'product-json' %}
  </script>
</section>

<style>
    a.disabled {
      pointer-events: none;
      color: gray;
  }
</style>
