<div
  class="section"
  id="content"
  tabindex="0"
>
  <div class="container">
    <div class="xl:flex">
      <div class="xl:mx-auto xl:w-8/12">
        <div class="account-page__title text-center">
          <h1 class="h4 mb-3">{{ 'customer.account.title' | t }}</h1>
          <a
            href="/account/logout"
            class="link"
          >
            Log out
          </a>
        </div>
        <h2 class="h6 mb-2 md:mb-6">{{ 'customer.orders.title' | t }}</h2>
        {% paginate customer.orders by 20 %}
          {% if customer.orders.size != 0 %}
            <table class="order-table mb-7 md:mb-12">
              <tbody>
                <tr class="hidden md:table-row">
                  <th>Order</th>
                  <th>Date</th>
                  <th>Payment Status</th>
                  <th>Fulfillment Status</th>
                  <th>Total</th>
                </tr>
                {% for order in customer.orders %}
                  <tr class="py-4 md:py-0">
                    <td data-label="Order">
                      {{ order.name | link_to: order.customer_url }}
                    </td>
                    <td data-label="Date">
                      <time datetime="{{ order.created_at | date: format: 'month_day_year' }}">
                        {{- order.created_at | date: format: 'month_day_year' -}}
                      </time>
                    </td>
                    <td data-label="Payment Status">Paid</td>
                    <td data-label="Fulfillment Status">Unfulfilled</td>
                    <td data-label="Total">
                      {{ order.total_price | money }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>{{ 'customer.orders.none' | t }}</p>
          {% endif %}
          {% if paginate.pages > 1 %}
            <div class="py-6">
              {% render 'pagination' %}
            </div>
          {% endif %}
        {% endpaginate %}
        <h2 class="h6 mb-6">{{ 'customer.account.details' | t }}</h2>
        <div class="rte mb-4 md:mb-10">
          <div class="account__address">
            {{ customer.default_address | format_address }}
          </div>
        </div>
        <a
          class="button button--sm"
          href="/account/addresses"
        >
          {{- 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
        </a>
      </div>
    </div>
  </div>
</div>
