<div class="section page-section" id="content" tabindex="0">
  <div class="container">
    <div class="account-page__title text-center">
      <h1 class="h2 mb-2">{{ 'customer.account.title' | t }}</h1>
        <a href="/account/logout">Log out</a>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-lg-auto">
        <h2 class="h3 account__sub-title">{{ 'customer.orders.title' | t }}</h2>
        {% paginate customer.orders by 20 %}
          {% if customer.orders.size != 0 %}
            <table class="order-table">
              <tbody>
                {% for order in customer.orders %}
                  <tr class="d-none d-md-table-row">
                    <th>Order</th>
                    <th>Date</th>
                    <th>Payment Status</th>
                    <th>Fulfillment Status</th>
                    <th>Total</th>
                  </tr>
                  <tr>
                    <td data-label="Order">
                      {{ order.name | link_to: order.customer_url }}
                    </td>
                    <td data-label="Date">
                      <time datetime="{{ order.created_at | date: format: 'month_day_year' }}">{{ order.created_at | date: format: 'month_day_year' }}</time>
                    </td>
                    <td data-label="Payment Status">
                      Paid
                    </td>
                    <td data-label="Fulfillment Status">
                      Unfulfilled
                    </td>
                    <td data-label="Total">
                      {{ order.total_price | money }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>{{ 'customer.orders.none' | t }}</p>
          {% endif %}
          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        {% endpaginate %}
      </div>
      <div class="col-lg-8 offset-lg-2">
        <h2 class="h3 account__sub-title">{{ 'customer.account.details' | t }}</h2>
        {{ customer.default_address | format_address }}
      </div>
      <div class="col-md-4 offset-lg-2">
        <a class="button" href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
      </div>
    </div>
  </div>
</div>