<div class="account-section" id="content" tabindex="0">
	<div class="container">
		<div class="text-center">
			<h1 class="account-page__title account-page__title--alt">{{ 'customer.account.title' | t }}</h1>
		</div>
		<div class="row">
			<div class="col-md-8 offset-lg-1 mb-5 mb-md-0">
				<div class="account__title-box">
					<h2 class="account__sub-title">{{ 'customer.orders.title' | t }}</h2>
				</div>
				{% paginate customer.orders by 20 %}
					{% if customer.orders.size != 0 %}
						<table class="order-table responsive-table">
							<tbody>
								{% for order in customer.orders %}
									<tr class="responsive-table-row">
										<td class="row-name">
											<div class="order-name">Order {{ order.name | link_to: order.customer_url }}</div>
										</td>
										<td>
											<time datetime="{{ order.created_at | date: format: 'month_day_year' }}">{{ order.created_at | date: format: 'month_day_year' }}</time>
										</td>
										<td class="row-price">
											{{ order.total_price | money }}
										</td>
										<td>
											<a href="{{ order.customer_url }}" class="link-sm">View Details</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<p>{{ 'customer.orders.none' | t }}</p>
					{% endif %}
					{% if paginate.pages > 1 %}
						{% include 'pagination' %}
					{% endif %}
				{% endpaginate %}
				<div class="text-center d-block d-md-none">
					<a href="{{routes.account_logout_url}}" class="link-sm">Sign Out</a>
				</div>
			</div>
			<div class="col-md-4 col-lg-3">
				<div class="account__title-box">
					<h2 class="account__sub-title">{{ 'customer.account.details' | t }}</h2>
				</div>
				{{ customer.default_address | format_address }}
				<p>
					<a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
				</p>
				<a href="/account/logout">Logout</a>
			</div>
		</div>
	</div>
</div>