{% comment %}
  The data-label attributes on <td> elements are mobile-friendly
  helpers used for responsive-table labels
{% endcomment %}

<div class="section">
  <div class="container">
    <div class="mb-10 lg:mb-14">
      <a
        href="/account"
        class="account__back-link base-label no-underline"
      >
        {{ 'customer.account.return' | t }}
      </a>
    </div>
    <div class="mb-4 text-center">
      <h1 class="h6 mb-0">{{ 'customer.order.title' | t: name: order.name }}</h1>
      <time datetime="2019-12-18T05:47:00">
        {{- 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" -}}
      </time>
    </div>

    {% if order.cancelled %}
      {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
      <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
      <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
    {% endif %}

    <div class="overflow-hidden lg:flex lg:space-x-10 xl:space-x-30">
      <div class="mb-10 lg:mb-0 lg:w-100">
        <table class="order__history-table">
          <caption class="sr-only">
            {{ 'customer.order.order_detail_table' | t }}
          </caption>
          <thead>
            <tr class="base-secondary-text body-small">
              <th class="py-3 lg:pl-4 lg:pr-2">
                <div class="flex justify-between space-x-2 md:block">
                  <div>
                    {{ 'customer.order.product' | t }}
                  </div>
                  <div
                    aria-hidden="true"
                    class="md:hidden"
                  >
                    {{ 'customer.order.price' | t }}
                  </div>
                </div>
              </th>
              <th class="py-3 lg:pr-2">{{ 'customer.order.price' | t }}</th>
              <th class="py-3 lg:pr-2">{{ 'customer.order.quantity' | t }}</th>
              <th class="py-3">{{ 'customer.order.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for line_item in order.line_items %}
              <tr
                id="{{ line_item.key }}"
                class="responsive-table-row"
              >
                <td
                  class="py-3 md:pr-2 lg:py-5 lg:pl-4"
                  data-label="{{ 'customer.order.product' | t }}"
                >
                  <div class="flex overflow-hidden md:items-center">
                    <div class="order__img mr-5 shrink-0">
                      <a href="{{ line_item.product.url }}">
                        {% if line_item.image != blank %}
                          {%
                            render 'image',
                            src: line_item.image,
                            m: '64x106',
                            src_t: line_item.image,
                            t: '90x112',
                            src_d: line_item.image,
                            d: '90x112',
                            crop: 'center',
                          %}
                        {% else %}
                          {%
                            render 'image',
                            asset_img_url: true,
                            src: 'img-placeholder.png',
                            m: '64x106',
                            src_t: 'img-placeholder.png',
                            t: '90x112',
                            src_d: 'img-placeholder.png',
                            d: '90x112',
                          %}
                        {% endif %}
                      </a>
                    </div>
                    <div class="-mb-2 w-100">
                      <div class="flex md:block">
                        <div class="w-100">
                          <div class="title mb-2">
                            {{ line_item.title | link_to: line_item.product.url }}
                          </div>
                          {%- unless line_item.product.has_only_default_variant %}
                            {% for option in line_item.options_with_values -%}
                              <div class="body-small mb-2">
                                <span class="base-secondary-text mr-1 inline-block">
                                  {{- option.name }}: {{ option.value -}}
                                </span>
                              </div>
                            {% endfor %}
                          {% endunless %}
                          {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                            <span>
                              {{- discount_allocation.discount_application.title }} (-
                              {{- discount_allocation.amount | money -}}
                              )
                            </span>
                          {%- endfor -%}
                          <div class="body-small mb-2 md:hidden">
                            <span class="base-secondary-text mr-1 inline-block">
                              {{- 'customer.order.quantity' | t -}}
                            </span>
                            {{ line_item.quantity }}
                          </div>
                        </div>
                        <div
                          class="ml-4 w-4/12 shrink-0 text-right md:hidden"
                          data-label="{{ 'customer.order.price' | t }}"
                        >
                          {%- if line_item.unit_price_measurement -%}
                            {%- capture unit_price_separator -%}
                              <span aria-hidden="true">/</span>
                              <span class="visually-hidden">
                                {{- 'general.accessibility.unit_price_separator' | t }}&nbsp;
                              </span>
                            {%- endcapture -%}
                            {% liquid
                              capture unit_price_base_unit
                                if line_item.unit_price_measurement.reference_value != 1
                                  echo line_item.unit_price_measurement.reference_value
                                endif
                                 echo line_item.unit_price_measurement.reference_unit
                              endcapture
                            %}
                          {% endif %}
                          <div class="product-price-large flex flex-col">
                            {% if line_item.original_price != line_item.final_price %}
                              <ins>{{ line_item.final_price | money }}</ins>
                              <del class="base-secondary-text">{{ line_item.original_price | money }}</del>
                            {% else %}
                              <div class="product-price-large">{{ line_item.final_price | money }}</div>
                            {% endif %}
                          </div>
                          {% if line_item.unit_price %}
                            <div class="product-price-small pt-2 md:pt-0">
                              {{ line_item.unit_price | money }}
                              {{- unit_price_separator -}}
                              {{- unit_price_base_unit -}}
                            </div>
                          {% endif %}
                        </div>
                      </div>
                      <div class="body-small mb-2">{{ line_item.sku }}</div>
                    </div>
                  </div>
                </td>
                <td
                  class="py-3 md:pr-2 lg:py-5"
                  data-label="{{ 'customer.order.price' | t }}"
                >
                  <div class="product-price-large flex flex-col">
                    {% if line_item.original_price != line_item.final_price %}
                      <ins>{{ line_item.final_price | money }}</ins>
                      <del class="base-secondary-text">{{ line_item.original_price | money }}</del>
                    {% else %}
                      <div class="product-price-large">{{ line_item.final_price | money }}</div>
                    {% endif %}
                  </div>
                  {% if line_item.unit_price %}
                    <div class="product-price-small pt-2 md:pt-0">
                      {{ line_item.unit_price | money }}
                      {{- unit_price_separator -}}
                      {{- unit_price_base_unit -}}
                    </div>
                  {% endif %}
                </td>
                <td
                  class="py-3 md:pr-2 lg:py-5"
                  data-label="{{ 'customer.order.quantity' | t }}"
                >
                  <div class="product-price-large">{{ line_item.quantity }}</div>
                </td>
                <td
                  class="py-3 lg:py-5"
                  data-label="{{ 'customer.order.total' | t }}"
                >
                  <div class="product-price-large flex flex-col">
                    {% if line_item.original_price != line_item.final_price %}
                      <ins>
                        {{ line_item.quantity | times: line_item.final_price | money }}
                      </ins>
                      <del class="base-secondary-text">
                        {{ line_item.quantity | times: line_item.original_price| money }}
                      </del>
                    {% else %}
                      <div class="product-price-large">
                        {{ line_item.quantity | times: line_item.final_price | money }}
                      </div>
                    {% endif %}
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="order__summary md:ml-auto md:w-6/12 lg:w-5/12">
          <div class="body-small flex justify-between space-x-4 py-4">
            <div class="base-secondary-text">{{ 'customer.order.subtotal' | t }}</div>
            <div data-label="{{ 'customer.order.subtotal' | t }}">{{ order.subtotal_price | money }}</div>
          </div>
          {% for discount_allocation in order.discount_applications %}
            <div class="body-small flex justify-between space-x-4 py-4">
              <div class="base-secondary-text">
                {{ 'customer.order.discount' | t }}
              </div>
              <div data-label="{{ 'customer.order.discount' | t }}">
                {{ discount_allocation.total_allocated_amount | money }}
              </div>
            </div>
          {% endfor %}
          {%- for shipping_method in order.shipping_methods -%}
            <div class="body-small flex justify-between space-x-4 py-4">
              <div class="base-secondary-text">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</div>
              <div data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">
                {{ shipping_method.price | money }}
              </div>
            </div>
          {% endfor %}
          {%- for tax_line in order.tax_lines -%}
            <div class="body-small flex justify-between space-x-4 py-4">
              <div class="base-secondary-text">
                {{ 'customer.order.tax' | t }} ({{ tax_line.title }}
                {{ tax_line.rate | times: 100 }}%)
              </div>
              <div data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">
                {{ tax_line.price | money }}
              </div>
            </div>
          {% endfor %}
          <div class="body-small flex justify-between space-x-4 py-4">
            <div class="base-secondary-text">{{ 'customer.order.total' | t }}</div>
            <div data-label="{{ 'customer.order.total' | t }}">
              {{ order.total_price | money }}
              {{ order.currency }}
            </div>
          </div>
        </div>
      </div>
      <div class="-mb-10 lg:w-4/12 lg:shrink-0">
        <div class="mb-10">
          <div class="order__box-title base-secondary-text mb-3 py-3">
            <h2 class="body-small">{{ 'customer.order.billing_address' | t }}</h2>
          </div>
          <div class="rte">
            <div class="account__address">
              {{ order.billing_address | format_address }}
            </div>
          </div>
        </div>
        <div class="mb-10">
          <div class="order__box-title base-secondary-text mb-3 py-3">
            <h2 class="body-small">{{ 'customer.order.shipping_address' | t }}</h2>
          </div>
          <div class="rte">
            <div class="account__address">
              {{ order.shipping_address | format_address }}
            </div>
          </div>
        </div>
        <div class="mb-10">
          <div class="order__box-title base-secondary-text mb-3 py-3">
            <h2 class="body-small">{{ 'customer.order.order_details' | t }}</h2>
          </div>
          <dl>
            <div class="mb-2 flex items-center space-x-8">
              <dt class="title w-5/12 shrink-0 md:w-4/12">{{ 'customer.order.placed_on' | t }}</dt>
              <dd>{{ order.created_at | date: '%B %d, %Y' }}</dd>
            </div>
            <div class="mb-2 flex items-center space-x-8">
              <dt class="title w-5/12 shrink-0 md:w-4/12">{{ 'customer.order.payment_status' | t }}</dt>
              <dd>{{ order.financial_status_label }}</dd>
            </div>
            <div class="mb-2 flex items-center space-x-8">
              <dt class="title w-5/12 shrink-0 md:w-4/12">{{ 'customer.order.fulfillment_status' | t }}</dt>
              <dd>{{ order.fulfillment_status_label }}</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
