<div class="section" id="content" tabindex="0">
  <div class="container">
    <div class="account-page__title text-center">
      <h1 class="h4 mb-3">{{ 'customer.register.title' | t }}</h1>
    </div>
    {% form 'create_customer', class: 'account-form' %}
      {{ form.errors | default_errors }}
      <div class="input-holder">
        <label for="FirstName" class="inline-block mb-1 label-hidden">
          {{ 'customer.register.first_name' | t }}
        </label>
        <input
          type="text"
          name="customer[first_name]"
          id="FirstName"
          placeholder="{{ 'customer.register.first_name' | t }}"
          autofocus
          {% if form.first_name %}
            value="{{ form.first_name }}"
          {% endif %}
        >
      </div>
      <div class="input-holder">
        <label for="LastName" class="inline-block mb-1 label-hidden">
          {{ 'customer.register.last_name' | t }}
        </label>
        <input
          type="text"
          name="customer[last_name]"
          id="LastName"
          placeholder="{{ 'customer.register.last_name' | t }}"
          {% if form.last_name %}
            value="{{ form.last_name }}"
          {% endif %}
        >
      </div>
      <div class="input-holder">
        <label for="Email" class="inline-block mb-1 label-hidden">
          {{ 'customer.register.email' | t }}
        </label>
        <input
          type="email"
          name="customer[email]"
          id="Email"
          class="{% if form.errors contains 'email' %}input-error{% endif %}"
          placeholder="{{ 'customer.register.email' | t }}"
          value="{% if form.email %}{{ form.email }}{% endif %}"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off"
        >
      </div>
      <div class="input-holder">
        <label for="CreatePassword" class="inline-block mb-1 label-hidden">
          {{ 'customer.register.password' | t }}
        </label>
        <input
          type="password"
          name="customer[password]"
          id="CreatePassword"
          class="{% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.register.password' | t }}"
        >
      </div>
      {% if settings.enable_accept_marketing %}
        <div class="input-holder custom-input custom-input--square-with-text">
          <input
            type="hidden"
            name="customer[accepts_marketing]"
            value="false"
          >
          <input
            type="checkbox"
            name="customer[accepts_marketing]"
            id="AcceptsMarketing"
          >
          <label for="AcceptsMarketing" class="custom-label flex items-center">
            <span class="custom-label__check"></span>
            {{- 'customer.register.accepts-marketing' | t -}}
          </label>
        </div>
      {% endif %}
      <div class="input-holder">
        <input type="submit" value="{{ 'customer.register.submit' | t }}" class="button w-100">
      </div>
      <div class="body-small text-center py-3">
        <a href="{{ routes.root_url }}" rel="nofollow" class="no-underline hover:underline">
          {{- 'customer.register.cancel' | t -}}
        </a>
      </div>
    {% endform %}
  </div>
</div>
