<div
  class="section"
  id="cart"
  data-note-enable="{{ settings.cart_notes_enable }}"
>
  <div class="container">
    <div
      data-has-items
      {% if cart.item_count == 0 %}
        class="hidden"
      {% endif %}
    >
      <div class="page-title-block text-center">
        <h1 class="h2">
          {{ 'cart.general.title' | t }}
        </h1>
      </div>

      <form
        action="/cart"
        method="post"
        class="cart-form"
        novalidate
      >
        <table class="cart-table mb-4">
          <thead class="small--hide">
            <tr>
              <th>{{ 'cart.label.product' | t }}</th>
              <th>{{ 'cart.label.price' | t }}</th>
              <th>{{ 'cart.label.quantity' | t }}</th>
              <th>{{ 'cart.label.total' | t }}</th>
            </tr>
          </thead>
          <tbody data-cart-items>
            {% render 'cart-items' %}
          </tbody>
        </table>

        <div class="md:flex md:justify-between">
          {% if settings.cart_notes_enable %}
            <div class="mb-4 px-0 md:mb-0 md:w-5/12 lg:w-4/12">
              <label
                for="CartSpecialInstructions"
                class="mb-2 inline-block"
              >
                <strong>
                  {{ 'cart.general.note' | t }}
                </strong>
              </label>
              <textarea
                name="note"
                id="CartSpecialInstructions"
              >{{ cart.note }}</textarea>
            </div>
          {% endif %}

          <div class="ml-auto px-0 md:w-5/12 lg:w-4/12">
            <div class="cart-form__total mb-4">
              <div class="flex">
                <div class="w-8/12">
                  <p>{{ 'cart.general.subtotal' | t }}</p>
                </div>
                <div class="w-4/12 text-right">
                  <p data-cart-total>{{ cart.total_price | money }}</p>
                </div>
              </div>
              <div class="cart-form__total__text-box">
                {% if cart.total_discounts > 0 %}
                  <p>
                    {{ 'cart.general.savings' | t }}
                    {{ cart.total_discounts | money }}
                  </p>
                {% endif %}
                <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
              </div>
            </div>
            <div class="md:text-right">
              <input
                type="submit"
                class="button"
                name="checkout"
                value="{{ 'cart.general.checkout' | t }}"
              >
            </div>
            {%- if additional_checkout_buttons -%}
              <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
            {%- endif -%}
          </div>
        </div>
      </form>
    </div>
    <div
      class="{% if cart.item_count != 0 %}hidden{% else %}md:flex{% endif %}"
      data-no-items
    >
      <div class="md:mx-auto md:w-8/12">
        <div class="text-center">
          <div class="page-title-block">
            <h1>{{ 'cart.general.title' | t }}</h1>
          </div>

          {% comment %}
            Cart empty state
          {% endcomment %}
          <div class="supports-cookies">
            <p>
              {%
                render 'button',
                element: 'a',
                href: '#',
                class: 'button--secondary',
                text: 'Return to shop'
              %}
            </p>
          </div>

          {% comment %}
            Cart no cookies state
            ---------------------
            Browser cookies are required to use the cart. If cookies aren't enabled in the
            browser a message is displayed prompting the user to enable them.
          {% endcomment %}
          <div class="supports-no-cookies">
            <p>{{ 'cart.general.cookies_required' | t }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="preact-cart"></div>

{% schema %}
{
  "name": "Cart"
}
{% endschema %}
