{% liquid
  assign limit = settings.limit
  assign products = collection.products

  render 'page-hero', image: collection.image
  render 'breadcrumbs'
%}

{% paginate collection.products by limit %}
  <div class="section page-section"
       data-section-id="{{ section.id }}"
       data-section-type="collection"
       data-infinite="{{ section.settings.enable_infinite }}"
       data-products-quantity="{{ collection.products_count }}">
    <div class="container">
      <div class="page-title-block text-center pt-0">
        <h1 class="h2 mb-2">{{ collection.title }}</h1>
        {% if collection.description != blank %}
          <div class="rte text-size-md">
            {{ collection.description }}
          </div>
        {% endif %}
      </div>
      {% if products.size == 0 %}
        <div class="text-center py-5">
          {{ 'collections.general.no_matches' | t }}
        </div>
      {% else %}
      <div class="hidden lg:flex lg:items-center lg:space-x-8">
        <div class="lg:w-3/12">
          Filter by
        </div>
        <div class="lg:w-9/12">
          <div class="lg:flex lg:justify-between lg:items-center lg:space-x-8">
            <div class="lg:w-4/12">
              1,036 products
            </div>
            <div class="lg:w-4/12 pl-5">
              <label class="label" for="filter-sortby-2">Sort by</label>
              <div class="select-holder">
                <select id="filter-sortby-2">
                  <option>Featured</option>
                  <option>Best selling</option>
                  <option>Alphabetically, A-Z</option>
                  <option>Alphabetically, Z-A</option>
                  <option>Price, low to high</option>
                  <option>Price, high to low</option>
                  <option>Date, old to new</option>
                  <option>Date, new to old</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-4 lg:py-5 lg:flex lg:space-x-8">
        <div class="filter lg:w-3/12">
          <div class="filter__main-btn-holder flex items-center mb-4">
            <div class="w-7/12 lg:w-100">
              <div class="filter-main-open-close">
                <button class="default filter-main-open-close__btn-opener filter-main-open-close__opener page-wrapper__opener flex items-center lg:hidden body-large">
                  <span class="filter-main-open-close__btn-opener-icon mr-2">
                    {% render 'icon' with 'filter' %}
                  </span>
                  Filter and sort
                </button>
                <div class="filter-main-open-close__slide flex justify-between flex-col lg:block" style="display: none;">

                  <div class="filter-main-open-close__slide-btn-holder lg:hidden flex-shrink-0 w-100">
                    <button class="filter-main-open-close__opener filter-main-open-close__closer page-wrapper__opener flex items-center body-medium">
                      <span class="btn-closer flex-shrink-0 mr-1">
                        <span class="visually-hidden">
                          Icon close
                        </span>
                      </span>
                      Close
                    </button>
                  </div>
                  <div class="filter-main-open-close__holder">
                    <div class="px-4 lg:px-0">
                      <div class="lg:hidden py-4">
                        <label class="label" for="filter-sortby">Sort by</label>
                        <div class="select-holder">
                          <select id="filter-sortby">
                            <option>Featured</option>
                            <option>Best selling</option>
                            <option>Alphabetically, A-Z</option>
                            <option>Alphabetically, Z-A</option>
                            <option>Price, low to high</option>
                            <option>Price, high to low</option>
                            <option>Date, old to new</option>
                            <option>Date, new to old</option>
                          </select>
                        </div>
                      </div>
                      <div class="filter-collapse">
                        <details-disclosure>
                          <details class="filter-collapse__item" open>
                            <summary class="py-3 flex justify-between items-center">
                              Color
                              <span class="filter-collapse__btn flex-shrink-0 mx-4"></span>
                            </summary>
                            <div class="py-3 custom-input custom-input--colors-with-text">
                              <input id="filter-collapse-color-01" type="checkbox" checked name="filter-collapse-color">
                              <label for="filter-collapse-color-01" class="custom-label flex items-center">
                                <span class="custom-label__img-holder">
                                  {% render
                                    'image',
                                    asset_img_url: true,
                                    src: 'img-placeholder.png',
                                    d: '20x20',
                                    placeholder: 'img-placeholder.png',
                                  %}
                                </span>
                                Black (10)
                              </label>
                            </div>
                            <div class="py-3 custom-input custom-input--colors-with-text">
                              <input id="filter-collapse-color-02" type="checkbox" disabled name="filter-collapse-color">
                              <label for="filter-collapse-color-02" class="custom-label flex items-center">
                                <span class="custom-label__img-holder">
                                  {% render
                                    'image',
                                    asset_img_url: true,
                                    src: 'img-placeholder.png',
                                    d: '20x20',
                                    placeholder: 'img-placeholder.png',
                                  %}
                                </span>
                                Red (1)
                              </label>
                            </div>
                            <div class="py-3 custom-input custom-input--colors-with-text">
                              <input id="filter-collapse-color-03" type="checkbox" name="filter-collapse-color">
                              <label for="filter-collapse-color-03" class="custom-label flex items-center">
                                <span class="custom-label__img-holder">
                                  {% render
                                    'image',
                                    asset_img_url: true,
                                    src: 'img-placeholder.png',
                                    d: '20x20',
                                    placeholder: 'img-placeholder.png',
                                  %}
                                </span>
                                Fiji (6)
                              </label>
                            </div>
                            <div class="py-3 custom-input custom-input--colors-with-text">
                              <input id="filter-collapse-color-04" type="checkbox" name="filter-collapse-color">
                              <label for="filter-collapse-color-04" class="custom-label flex items-center">
                                <span class="custom-label__img-holder">
                                  {% render
                                    'image',
                                    asset_img_url: true,
                                    src: 'img-placeholder.png',
                                    d: '20x20',
                                    placeholder: 'img-placeholder.png',
                                  %}
                                </span>
                                Fiji (6)
                              </label>
                            </div>
                            <div class="py-3 custom-input custom-input--colors-with-text">
                              <input id="filter-collapse-color-05" type="checkbox" name="filter-collapse-color">
                              <label for="filter-collapse-color-05" class="custom-label flex items-center">
                                <span class="custom-label__img-holder">
                                  {% render
                                    'image',
                                    asset_img_url: true,
                                    src: 'img-placeholder.png',
                                    d: '20x20',
                                    placeholder: 'img-placeholder.png',
                                  %}
                                </span>
                                Grey (0)
                              </label>
                            </div>
                          </details>
                        </details-disclosure>
                      </div>
                      <div class="filter-collapse">
                        <details-disclosure>
                          <details class="filter-collapse__item">
                            <summary class="py-3 flex justify-between items-center">
                              Price
                              <span class="filter-collapse__btn flex-shrink-0 mx-4"></span>
                            </summary>
                              123
                          </details>
                        </details-disclosure>
                      </div>
                      <div class="filter-collapse">
                        <details-disclosure>
                          <details class="filter-collapse__item" open>
                            <summary class="py-3 flex justify-between items-center">
                              Size
                              <span class="filter-collapse__btn flex-shrink-0 mx-4"></span>
                            </summary>
                            <div class="py-3 custom-input custom-input--square-with-text">
                              <input id="filter-collapse-size-01" type="checkbox" checked name="filter-collapse-size">
                              <label for="filter-collapse-size-01" class="custom-label flex items-center">
                                <span class="custom-label__check"></span>
                                XXS (20)
                              </label>
                            </div>
                            <div class="py-3 custom-input custom-input--square-with-text">
                              <input id="filter-collapse-size-02" type="checkbox" name="filter-collapse-size">
                              <label for="filter-collapse-size-02" class="custom-label flex items-center">
                                <span class="custom-label__check"></span>
                                XS (25)
                              </label>
                            </div>
                            <div class="py-3 custom-input custom-input--square-with-text">
                              <input id="filter-collapse-size-03" type="checkbox" disabled name="filter-collapse-size">
                              <label for="filter-collapse-size-03" class="custom-label flex items-center">
                                <span class="custom-label__check"></span>
                                L (0)
                              </label>
                            </div>
                          </details>
                        </details-disclosure>
                      </div>
                      <div class="filter-collapse">
                        <details-disclosure>
                          <details class="filter-collapse__item" open>
                            <summary class="py-3 flex justify-between items-center">
                              Brand
                              <span class="filter-collapse__btn flex-shrink-0 mx-4"></span>
                            </summary>
                            <div class="py-3 custom-input custom-input--square-with-text">
                              <input id="filter-collapse-brand-01" type="checkbox" checked name="filter-collapse-brand">
                              <label for="filter-collapse-brand-01" class="custom-label flex items-center">
                                <span class="custom-label__check"></span>
                                Adidas (225)
                              </label>
                            </div>
                            <div class="py-3 custom-input custom-input--square-with-text">
                              <input id="filter-collapse-brand-02" type="checkbox" name="filter-collapse-brand">
                              <label for="filter-collapse-brand-02" class="custom-label flex items-center">
                                <span class="custom-label__check"></span>
                                Adidas (225)
                              </label>
                            </div>
                            <div class="py-3 custom-input custom-input--square-with-text">
                              <input id="filter-collapse-brand-03" type="checkbox" disabled name="filter-collapse-brand">
                              <label for="filter-collapse-brand-03" class="custom-label flex items-center">
                                <span class="custom-label__check"></span>
                                Adidas (225)
                              </label>
                            </div>
                            <button class="filter-collapse__btn-more-content mb-3">
                              <span class="filter-collapse__more">+ More</span>
                              <span class="filter-collapse__less">- Less</span>
                            </button>
                          </details>
                        </details-disclosure>
                      </div>
                      <div class="filter-collapse">
                        <details-disclosure>
                          <details class="filter-collapse__item" open>
                            <summary class="py-3 flex justify-between items-center">
                              Type
                              <span class="filter-collapse__btn flex-shrink-0 mx-4"></span>
                            </summary>
                            <div class="py-3 custom-input custom-input--square-with-text">
                              <input id="filter-collapse-type-01" type="checkbox" checked name="filter-collapse-type">
                              <label for="filter-collapse-type-01" class="custom-label flex items-center">
                                <span class="custom-label__check"></span>
                                Dress (55)
                              </label>
                            </div>
                            <div class="py-3 custom-input custom-input--square-with-text">
                              <input id="filter-collapse-type-02" type="checkbox" name="filter-collapse-type">
                              <label for="filter-collapse-type-02" class="custom-label flex items-center">
                                <span class="custom-label__check"></span>
                                Jacket (10)
                              </label>
                            </div>
                            <div class="py-3 custom-input custom-input--square-with-text">
                              <input id="filter-collapse-type-03" type="checkbox" disabled name="filter-collapse-type">
                              <label for="filter-collapse-type-03" class="custom-label flex items-center">
                                <span class="custom-label__check"></span>
                                Shirt (72)
                              </label>
                            </div>
                          </details>
                        </details-disclosure>
                      </div>
                      <div class="filter-collapse">
                        <details-disclosure>
                          <details class="filter-collapse__item" open>
                            <summary class="py-3 flex justify-between items-center">
                              Category
                              <span class="filter-collapse__btn flex-shrink-0 mx-4"></span>
                            </summary>
                            <div class="py-3 custom-input custom-input--square-with-text">
                              <input id="filter-collapse-category-01" type="checkbox" checked name="filter-collapse-category">
                              <label for="filter-collapse-category-01" class="custom-label flex items-center">
                                <span class="custom-label__check"></span>
                                Men’s (214)
                              </label>
                            </div>
                            <div class="py-3 custom-input custom-input--square-with-text">
                              <input id="filter-collapse-category-02" type="checkbox" name="filter-collapse-category">
                              <label for="filter-collapse-category-02" class="custom-label flex items-center">
                                <span class="custom-label__check"></span>
                                Jacket (10)
                              </label>
                            </div>
                            <div class="py-3 custom-input custom-input--square-with-text">
                              <input id="filter-collapse-category-03" type="checkbox" disabled name="filter-collapse-category">
                              <label for="filter-collapse-category-03" class="custom-label flex items-center">
                                <span class="custom-label__check"></span>
                                Shirt (72)
                              </label>
                            </div>
                          </details>
                        </details-disclosure>
                      </div>
                    </div>
                  </div>
                  <div class="lg:hidden flex-shrink-0 px-4 py-5">
                    {% render
                      'button',
                      element: 'button',
                      type: 'button',
                      class: 'w-100',
                      text: 'Apply',
                    %}
                  </div>
                </div>
                <div class="filter-main-open-close__opener filter-main-open-close__overlay page-wrapper__opener lg:hidden">
                  <span class="visually-hidden">
                    Closer filter drawer
                  </span>
                </div>
              </div>
            </div>
            <div class="w-5/12 lg:hidden text-right">
              1,036 products
            </div>
          </div>
        </div>
        <div class="lg:w-9/12">
          <div class="filter-selected-element-list flex flex-wrap items-center pb-4 lg:pb-0 -mx-2">
            <button class="button filter__btn-reset mx-2 mb-3" type="button">
              Clear all
            </button>
            <div class="filter-selected-element-list__item relative flex items-center justify-center py-1 px-3 mb-3 mx-2">
              Black
              <button class="btn-closer ml-3">
                <span class="visually-hidden">
                  Clear {Black} filter results
                </span>
              </button>
            </div>
            <div class="filter-selected-element-list__item relative flex items-center justify-center py-1 px-3 mb-3 mx-2">
              Top
              <button class="btn-closer ml-3">
                <span class="visually-hidden">
                  Clear {Top} filter results
                </span>
              </button>
            </div>
            <div class="filter-selected-element-list__item relative flex items-center justify-center py-1 px-3 mb-3 mx-2">
              $50.00 - $90.00
              <button class="btn-closer ml-3">
                <span class="visually-hidden">
                  Clear {$50.00 - $90.00} filter results
                </span>
              </button>
            </div>
          </div>
          <div class="grid grid-cols-2 xl:grid-cols-3 gap-x-8 js-products-wrapper">
            {% liquid
              for product in collection.products
                render "product-card", product: product, grid_item_width: ''
              endfor
            %}
          </div>
        </div>
      </div>
      {% endif %}
      {% if section.settings.enable_infinite %}
        <div class="spinner-holder">
          <div class="spinner"></div>
        </div>
      {% else %}
        {% if paginate.pages > 1 %}
          {% render 'pagination', paginate: paginate %}
        {% endif %}
      {% endif %}
    </div>
  </div>

{% endpaginate %}

{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_infinite",
      "label": "Enable infinite scroll",
      "default": false
    }
  ]
}
{% endschema %}
