<div class="section">
	<div class="container">
		<h2 class="text-center">Featured collection</h2>
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="product-item text-center">
					<div class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'375x' }}, {{ 'img-placeholder.png' | asset_img_url:'750x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'688x' }}, {{ 'img-placeholder.png' | asset_img_url:'1376x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'688x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</div>
					<div class="product-item__box">
						<h3 class="product-item__title">Your product's name</h3>
						<div class="product-item__price">
							<div>$20.00</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="product-item text-center">
					<div class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'375x' }}, {{ 'img-placeholder.png' | asset_img_url:'750x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'688x' }}, {{ 'img-placeholder.png' | asset_img_url:'1376x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'688x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</div>
					<div class="product-item__box">
						<h3 class="product-item__title">Your product's name</h3>
						<div class="product-item__price">
							<ins>$45.00</ins>
							<del>$65.00</del>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="product-item text-center">
					<div class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'375x' }}, {{ 'img-placeholder.png' | asset_img_url:'750x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'688x' }}, {{ 'img-placeholder.png' | asset_img_url:'1376x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'688x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</div>
					<div class="product-item__box">
						<h3 class="product-item__title">Your product's name</h3>
						<div class="product-item__price">
							<div>$39.00</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="product-item text-center">
					<div class="product-item__img">
						<picture>
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'375x' }}, {{ 'img-placeholder.png' | asset_img_url:'750x' }} 2x" media="(max-width: 767px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'688x' }}, {{ 'img-placeholder.png' | asset_img_url:'1376x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
							<img data-src="{{ 'img-placeholder.png' | asset_img_url:'688x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
						</picture>
					</div>
					<div class="product-item__box">
						<h3 class="product-item__title">Your product's name</h3>
						<div class="product-item__price">
							<div>$15.00</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<a href="#" class="button">view all</a>
		</div>
	</div>
</div>