{% assign show_payment_icons = section.settings.show_payment_icons %}
{%- capture payment_icon_markup -%}
  {%- if show_payment_icons -%}
    <div class="-mx-3 -mb-3 flex flex-wrap items-center justify-center pt-5 lg:pt-3">
      {%- for type in shop.enabled_payment_types -%}
        <div class="mx-3 mb-3">
          {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
{%- endcapture -%}
<footer
  id="footer"
  class="relative py-10"
>
  <div class="container">
    {%- if section.blocks.size != 0 -%}
      <div class="mb-10 lg:mb-11">
        <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                <div class="{% unless forloop.last %}mb-10 lg:mb-0 {% endunless %}sm:col-span-full lg:col-span-1">
                  {% render 'footer-logo', block: block %}
                  <div class="rte">
                    {{ block.settings.text }}
                  </div>
                </div>
              {%- when 'newsletter' -%}
                <div
                  {% unless forloop.last %}
                    class="mb-10 lg:mb-0"
                  {% endunless %}
                  {{ block.shopify_attributes }}
                >
                  {%- if block.settings.title != blank -%}
                    <div class="title mb-5">
                      {{ block.settings.title }}
                    </div>
                  {%- endif -%}
                  <p>{{ 'general.newsletter_form.newsletter_email' | t }}</p>
                  {% form 'customer', novalidate: 'novalidate', class: "footer__form" %}
                    <fieldset>
                      <legend class="visually-hidden">Newsletter form</legend>
                      <input
                        type="hidden"
                        name="contact[tags]"
                        value="newsletter"
                      >
                      {%- if form.posted_successfully? -%}
                        <div
                          class="form-message messages-success"
                          tabindex="-1"
                          data-form-status
                        >
                          {{ 'general.newsletter_form.confirmation' | t }}
                        </div>
                      {%- endif -%}
                      <label
                        for="newsletter-form-email-field"
                        class="mb-1 inline-block lg:mb-2"
                      >
                        {{ 'general.newsletter_form.please_enter_your_email' | t }}
                      </label>
                      <div class="relative">
                        <input
                          type="email"
                          name="contact[email]"
                          id="newsletter-form-email-field"
                          placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                          class="footer__form__input"
                        >
                        <button
                          type="submit"
                          class="footer__form__button"
                        >
                          <span class="accessibility">Button submit</span>
                          {%- render 'icon-arrow-right' -%}
                        </button>
                      </div>
                    </fieldset>
                  {% endform %}
                </div>
              {%- when 'link_list' -%}
                {%- assign footer_linklist = block.settings.menu -%}
                <div
                  {% unless forloop.last %}
                    class="mb-10 lg:mb-0"
                  {% endunless %}
                >
                  <nav>
                    {%- if block.settings.title != blank -%}
                      <div class="title mb-5">
                        {{ block.settings.title }}
                      </div>
                    {%- endif -%}
                    <ul class="-mb-2">
                      {%- for link in linklists[footer_linklist].links -%}
                        <li class="mb-2">
                          <a href="{{ link.url }}">{{ link.title | escape }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </nav>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
    {% if section.settings.currency_switcher_enable or section.settings.language_switcher_enable %}
      <div class="footer__selectors flex flex-col items-center justify-center space-y-4 pb-5 md:flex-row md:items-start md:space-x-8 md:space-y-0">
        {% if section.settings.currency_switcher_enable %}
          {% form 'localization', class: "footer__selectors-item" %}
            <label
              for="FooterCountryLabel"
              class="mb-1 inline-block"
            >
              {{ 'layout.footer.select_currency' | t }}
            </label>
            <select
              id="FooterCountryLabel"
              name="country_code"
              class="base-secondary-text w-100"
            >
              <option
                value="{{ localization.country.iso_code }}"
                selected
              >
                {{ localization.country.name }} ({{ localization.country.currency.iso_code }}
                {{ localization.country.currency.symbol }})
              </option>
            </select>
          {% endform %}
        {% endif %}
        {% if section.settings.language_switcher_enable %}
          <div class="locales-wrapper footer__selectors-item">
            <label
              for="field-locales-01"
              class="mb-1 inline-block"
            >
              {{ 'layout.footer.select_locales' | t }}
            </label>
            <select
              name="locales"
              class="base-secondary-text w-100"
              id="field-locales-01"
            >
              {% for locale in shop.published_locales %}
                <option
                  {% if request.locale.name == locale.name %}
                    selected
                  {% endif %}
                  data-path="{{ request.path }}"
                  value="{{ locale.root_url }}"
                >
                  {{ locale.name }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="footer__panel pt-5 text-center lg:pt-3">
      {% capture copy %}
        &copy; {{ 'now' | date: "%Y" }}
        {{ shop.name | link_to: routes.root_url | lstrip }}.
      {% endcapture %}
      {% assign first_part = copy | prepend: '<p>' %}
      {% assign rights_text = section.settings.rights_text | replace: '<p>', first_part %}
      <div class="body-small">
        {% if section.settings.rights_text != blank %}{{ rights_text }}{% else %}{{ copy }}{% endif %}
      </div>
      {{ payment_icon_markup }}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": false
    },
    {
      "type": "richtext",
      "id": "rights_text",
      "label": "Rights text",
      "default": "<p>All Rights Reserved. <a href=\"#\">Terms</a>, <a href=\"#\">Privacy &amp; Accessibility</a>.</p>"
    },
    {
      "type": "header",
      "content": "COUNTRY/REGION SELECTOR",
      "info": "To add a country/region, go to your [payment settings](/admin/settings/payments)."
    },
    {
      "type": "checkbox",
      "id": "currency_switcher_enable",
      "label": "Show country/region selector",
      "default": true
    },
    {
      "type": "header",
      "content": "LANGUAGE SELECTOR",
      "info": "To add a language, go to your [language settings](/admin/settings/languages)."
    },
    {
      "type": "checkbox",
      "id": "language_switcher_enable",
      "label": "Show language selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": "Newsletter signup",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "info": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
          "default": "Newsletter"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text and icon",
      "settings": [
        {
          "type": "text",
          "id": "logo_svg",
          "label": "SVG logo",
          "default": "logo-2.svg",
          "info": "Grabs image from assets example (logo.svg including file extension)"
        },
        {
          "type": "range",
          "id": "logo_svg_width",
          "label": "Logo svg width",
          "min": 100,
          "max": 150,
          "step": 1,
          "default": 114
        },
        {
          "type": "range",
          "id": "logo_svg_height",
          "label": "Logo svg height",
          "min": 20,
          "max": 50,
          "step": 1,
          "default": 24
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "logo_text",
          "label": "Logo text",
          "default": "Draft"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Body text",
          "default": "<p>Dignissim suspendisse in est ante in nibh mauris cursus mattis. Arcu odio ut sem nulla pharetra diam sit amet nisl.</p>"
        }
      ]
    }
  ]
}
{% endschema %}
