{% comment %}
  QR code is rendered in `#QrCode`

  `gift_card.pass_url` is true if apple wallet is enabled for the shop
{% endcomment %}

{% layout 'gift_card' %}

<header class="pt-10 pb-5">
  <div class="container">
    {% if section.settings.logo_svg != blank %}
      <div class="logo">
        <a href="{{ routes.root_url }}" rel="nofollow">
          <img src="{{ section.settings.logo_svg | asset_url }}" width="86" height="18" alt="Draft logo">
        </a>
      </div>
    {% elsif section.settings.logo != blank %}
      <div class="logo">
        <a href="{{ routes.root_url }}" rel="nofollow">
          <img
            src="{{ section.settings.logo | image_url: width: 172 }}"
            width="{{ section.settings.logo.width }}"
            height="{{ section.settings.logo.width | divided_by: section.settings.logo.aspect_ratio | floor }}"
            alt="{{ section.settings.logo.alt | default: "Draft logo" }}"
          >
        </a>
      </div>
    {% else %}
      <div class="logo-text text-center">
        <a href="{{ routes.root_url }}" rel="nofollow">{{ section.settings.logo_text }}</a>
      </div>
    {% endif %}
  </div>
</header>

<div class="pb-10 giftcard">
  <div class="container">
    <div class="md:w-9/12 md:mx-auto text-center">
      <h1 class="h5 mb-5">{{ 'gift_cards.issued.subtext' | t }}</h1>
      <div class="product-price-large mb-5">
        {% unless gift_card.enabled %}
          <span class="giftcard-tag">{{ 'gift_cards.issued.disabled' | t }}</span>
        {% endunless %}

        {%- assign gift_card_expiry_date = gift_card.expires_on | date: "%d/%m/%y" -%}

        {% if gift_card.expired and gift_card.enabled %}
          <span class="giftcard-tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</span>
        {% endif %}

        {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
          <span class="giftcard-tag giftcard-tag--active">
            {{- 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date -}}
          </span>
        {% endif %}

        {% assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency %}

        {{ 'gift_cards.issued.initial_value' | t: value: formatted_initial_value }}

        {% assign formatted_current_balance = gift_card.balance | money %}

        {% if gift_card.balance != gift_card.initial_value %}
          <p>{{ 'gift_cards.issued.remaining_html' | t: balance: formatted_current_balance }}</p>
        {% endif %}
      </div>

      <div class="gift-card__image-wrapper {{ section.settings.qrcode_position }} mx-auto mb-5 relative">
        <div class="gift-card__image-card mb-5">
          {%- if section.settings.image_card != blank -%}
            <img
              src="{{ section.settings.image_card | image_url: width: 520 }}"
              width="{{ section.settings.image_card.width }}"
              height="{{ section.settings.image_card.width | divided_by: section.settings.image_card.aspect_ratio | floor }}"
              alt="{{ section.settings.image_card.alt | default: "Gift card illustration" }}"
            >
          {%- else -%}
            <img
              src="{{ 'gift-card/card.jpg' | shopify_asset_url }}"
              width="520"
              height="346"
              alt="Gift card illustration"
            >
          {%- endif -%}
        </div>

        <div class="gift-card__qr-code">
          <div
            id="QrCode"
            class="giftcard-qr"
          ></div>
        </div>
      </div>

      <div id="GiftCardDigits" class="mb-3" data-gift-card-digits>
        <input
          type="text"
          class="gift-card__number text-center"
          value="{{ gift_card.code | format_code }}"
          aria-label="{{ 'gift_cards.issued.gift_card_code' | t }}"
          readonly
        >
      </div>

      <div class="gift-card__copy-code mb-3">
        <button class="button default gift-card__copy-link link">{{ 'gift_cards.issued.copy_code_text' | t }}</button>
        <div
          class="gift-card__copy-success form__message body-small flex items-center justify-center mt-3"
          role="status"
        ></div>
        <template>
          {%- render 'icon', icon: 'icon-success' -%}
          {{ 'gift_cards.issued.copy_code_success' | t }}
        </template>
      </div>
      {% if gift_card.pass_url %}
        <a href="{{ gift_card.pass_url }}" class="apple-wallet inline-block mb-3">
          <img
            class="apple-wallet-image"
            src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}"
            width="120"
            height="40"
            alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}"
          >
        </a>
      {% endif %}
      <div class="mb-5">
        <a href="{{ routes.root_url }}" rel="nofollow" class="button button--secondary" target="_blank">
          {{- 'gift_cards.issued.shop_link' | t -}}
        </a>
      </div>
      <button id="PrintGiftCard" class="button" onclick="window.print();" data-gift-card-print>
        {{ 'gift_cards.issued.print' | t }}
      </button>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Gift card",
  "settings": [
    {
      "type": "text",
      "id": "logo_svg",
      "label": "SVG logo",
      "default": "logo-2.svg"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "text",
      "id": "logo_text",
      "label": "Logo text"
    },
    {
      "type": "image_picker",
      "id": "image_card",
      "label": "Image card"
    },
    {
      "type": "select",
      "id": "qrcode_position",
      "label": "Qr Code position",
      "options": [
        {
          "value": "gift-card__image-wrapper--alt",
          "label": "On image"
        },
        {
          "value": "",
          "label": "Under image"
        }
      ]
    }
  ]
}
{% endschema %}

<script>
  let template = document.getElementsByTagName("template")[0];
  let clonedTemplate = template.content.cloneNode(true);
  let isMessageDisplayed = false

  document
    .querySelector('.gift-card__copy-link')
    .addEventListener('click', () => {
      navigator.clipboard.writeText(document.querySelector('.gift-card__number').value).then(function () {
        if (!isMessageDisplayed) {
          document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
          isMessageDisplayed = true
        }
      });
    });

  document.addEventListener('DOMContentLoaded', function() {
    new QRCode(document.getElementById('QrCode'), {
      text: '{{ gift_card.qr_identifier }}',
      width: 120,
      height: 120,
    });
  });
</script>
