{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}

<header id="header">
  {% render 'header-announcement' %}

  <div
    class="sticky-wrap-header__panel"
    data-sticky-states
    data-sticky-container="body"
  >
    <div
      class="header__panel{% if section.settings.enable_shadow %} header__panel-shadow{% endif %}"
      data-sticky-states-inner
    >
      <div class="container overflow-hidden">
        <div class="-mx-4 flex items-center justify-between xl:py-4">
          <div class="w-4/12 {% if section.settings.layout == 'center' %}xl:w-5/12{% else %}justify-center xl:order-2 xl:w-8/12{% endif %} px-4">
            <div class="menu">
              <div class="flex items-center xl:hidden">
                {% if section.settings.menu != blank %}
                  <a
                    href="#"
                    class="menu__opener menu__btn-opener page-wrapper__opener shrink-0"
                  >
                    <span>Menu</span>
                  </a>
                {% endif %}
                {% if shop.customer_accounts_enabled and section.settings.enable_account_icon %}
                  {% liquid
                    if customer
                      assign link = routes.account_url
                    else
                      assign link = routes.account_login_url
                    endif
                  %}
                  <a
                    href="{{ link }}"
                    class="header__btn"
                  >
                    <span class="visually-hidden">Go to account page</span>
                    {%- render 'icon' with 'account' -%}
                  </a>
                {% endif %}
              </div>
              {% if section.settings.menu != blank %}
                <nav class="menu__drop hidden xl:block xl:overflow-hidden">
                  <ul
                    id="nav"
                    class="main-menu menu-accordion"
                  >
                    {% render 'nav-menu-desktop' %}
                  </ul>
                </nav>
              {% endif %}
            </div>
          </div>
          <div class="w-4/12 {% if section.settings.layout == 'center' %}xl:w-2/12{% else %}xl:order-1 xl:flex xl:w-2/12 xl:flex-wrap xl:items-center xl:justify-start{% endif %} px-4">
            {% liquid
              if section.settings.enable_lazyload
                assign enable_lazyload = true
              else
                assign enable_lazyload = false
              endif
            %}
            {% render 'header-logo', enable_lazyload: enable_lazyload %}
          </div>
          <div class="w-4/12 {% if section.settings.layout == 'center' %}xl:w-5/12{% else %}xl:order-3 xl:w-2/12{% endif %} flex items-center justify-end px-4">
            {% if section.settings.button_link != blank %}
              <div class="hidden xl:inline-block">
                {%
                  render "button",
                  element: 'a',
                  href: section.settings.button_link,
                  text: section.settings.button_label
                %}
              </div>
            {% endif %}
            {% render 'header-icons' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div
  class="menu__drop xl:hidden"
  tabindex="-1"
>
  {% render 'header-announcement' %}
  <div class="header__panel-mobile">
    <div class="container">
      <div class="-mx-4 flex items-center">
        <div class="w-4/12 px-4 lg:w-3/12">
          <div class="menu">
            <div class="flex items-center xl:hidden">
              <a
                href="#"
                class="menu__opener menu__btn-opener page-wrapper__opener"
              >
                <span>Menu</span>
              </a>
            </div>
          </div>
        </div>
        <div class="w-4/12 px-4 lg:w-6/12">
          {% render 'header-logo' %}
        </div>
        <nav class="flex w-4/12 items-center justify-end px-4 lg:w-3/12">
          {% render 'header-icons-mobile' %}
        </nav>
      </div>
    </div>
  </div>
  <div class="container">
    {% if section.settings.enable_search_form %}
      <form
        action="/search"
        method="get"
        role="search"
        class="header__search-form relative my-5"
      >
        <input
          type="search"
          name="q"
          id="Search"
          value="{{ search.terms | escape }}"
          aria-label="Search"
          placeholder="{{ 'general.search.placeholder' | t }}"
        >
        {%
          render 'button',
          element: 'button',
          class: 'btn page-search-form__button flex items-center',
          text: 'Search on store',
          type: 'submit',
          snippet: true,
          icon: 'search'
        %}
      </form>
    {% endif %}
    <nav>
      <ul class="main-menu menu-accordion accordion js-menu-accordion">
        {% render 'nav-menu-mobile' %}
      </ul>
    </nav>
    <nav>
      <ul class="main-menu menu-accordion xl:hidden">
        {% render 'nav-account-menu' %}
      </ul>
    </nav>
  </div>
</div>

{% style %}
  .header__bar {
    {% if section.settings.announcement_bar_bg_color != blank and section.settings.announcement_bar_bg_color.alpha != 0 %}
      background: {{ section.settings.announcement_bar_bg_color }} !important;
    {% endif %}
    {% if section.settings.announcement_bar_text_color != blank and section.settings.announcement_bar_text_color.alpha != 0 %}
      color: {{ section.settings.announcement_bar_text_color }} !important;
    {% endif %}
  }
{% endstyle %}

<style>
  .header__panel--dark {
    background: #000;
    color: #fff
  }

  .header__panel--dark .menu__btn-opener span,
  .header__panel--dark .menu__btn-opener::before,
  .header__panel--dark .menu__btn-opener::after {
      background: #fff;
  }
</style>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "checkbox",
      "id": "announcement_bar_enabled",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "announcement_bar_home_page_only",
      "label": "Show on home page only",
      "default": false
    },
    {
      "type": "text",
      "id": "announcement_bar_text",
      "label": "Announcement text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "announcement_bar_link",
      "label": "Announcement link",
      "info": "Optional"
    },
    {
      "type": "color",
      "id": "announcement_bar_bg_color",
      "label": "Announcement bar bg color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "announcement_bar_text_color",
      "label": "Announcement bar text color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "text",
      "id": "logo_svg",
      "label": "SVG logo",
      "default": "logo-2.svg",
      "info": "Grabs image from assets example (logo.svg including file extension)"
    },
    {
      "type": "range",
      "id": "logo_svg_width",
      "label": "Logo svg width",
      "min": 56,
      "max": 120,
      "step": 1,
      "default": 106
    },
    {
      "type": "range",
      "id": "logo_svg_height",
      "label": "Logo svg height",
      "min": 20,
      "max": 100,
      "step": 1,
      "default": 22
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "checkbox",
      "id": "enable_lazyload",
      "label": "Enable lazyload",
      "default": true
    },
    {
      "type": "text",
      "id": "logo_text",
      "label": "Logo text",
      "default": "Draft"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Logo alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "search_enable",
      "label": "Show search icon",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_search_form",
      "label": "Show search form on mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "cart_enable",
      "label": "Show cart icon",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_account_icon",
      "label": "Show account icon",
      "default": false
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link",
      "info": "Button is disabled if empty"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Submit an inquiry"
    },
    {
      "type": "checkbox",
      "id": "enable_shadow",
      "label": "Enable shadow effect",
      "default": true
    }
  ]
}
{% endschema %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    {% if section.settings.logo %}
      "logo": "https:{{ section.settings.logo | image_url: width: section.settings.logo.width }}",
    {% endif %}
    "sameAs": [
      "{{ settings.social_twitter_link }}",
      "{{ settings.social_facebook_link }}",
      "{{ settings.social_pinterest_link }}",
      "{{ settings.social_instagram_link }}",
      "{{ settings.social_tumblr_link }}",
      "{{ settings.social_snapchat_link }}",
      "{{ settings.social_youtube_link }}",
      "{{ settings.social_vimeo_link }}"
    ],
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
