{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}

<header id="header">
  {%- if section.settings.announcement_bar_enabled -%}
    <div class="header__bar py-2">
      <div class="container">
        <ul class="header__bar-list d-flex flex-wrap align-items-center justify-content-center">
          {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
            {%- if section.settings.announcement_bar_link != blank -%}
              <li><a href="{{ section.settings.announcement_bar_link }}">{{ section.settings.announcement_bar_text | escape }}</a></li>
            {%- else -%}
              <li>{{ section.settings.announcement_bar_text | escape }}</li>
            {%- endif -%}
          {%- endif -%}
        </ul>
      </div>
    </div>
  {%- endif -%}
  <div class="header__panel">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-4 col-lg-3">
          <div class="menu">
            <div class="d-flex d-lg-none align-items-center">
              <a href="#" class="menu__opener menu__btn-opener page-wrapper__opener">
                <span>Menu</span>
              </a>
              <a href="{{ routes.search_url }}" class="header__btn d-none d-xs-inline-flex d-lg-none">
                {%- include 'icon' with 'search' -%}
              </a>
            </div>
            <nav class="menu__drop d-none d-lg-block">
              <ul id="nav" class="main-menu menu-accordion">
                {% render 'nav-menu' %}
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-4 col-lg-6">
          <div class="logo">
            <a href="{{ routes.root_url }}">
              {% if section.settings.logo != blank %}
                <img src="{{ section.settings.logo | img_url:'172x' }}" alt="image description">
              {% else %}
                <img src="{{ 'logo.svg' | asset_url }}" alt="image description">
              {% endif %}
            </a>
          </div>
        </div>
        <nav class="col-4 col-lg-3 d-flex flex-wrap align-items-center justify-content-end">
          <ul class="header__action-menu d-flex flex-wrap align-items-center justify-content-center">
            <li class="d-none d-lg-block">
              <a href="{{ routes.search_url }}" class="header__btn">
                {%- include 'icon' with 'search' -%}
              </a>
            </li>
            {% if shop.customer_accounts_enabled %}
              {% if customer %}
                <li class="d-none d-xs-block">
                  <a href="{{ routes.account_login_url }}" class="header__btn">
                    {%- include 'icon' with 'account' -%}
                  </a>
                </li>
              {% else %}
              {% endif %}
            {% endif %}
            <li>
              <a href="{{ routes.cart_url }}" class="header__btn">
                {%- include 'icon' with 'cart' -%}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<nav class="menu__drop d-lg-none">
  {%- if section.settings.announcement_bar_enabled -%}
    <div class="header__bar py-2">
      <div class="container">
        <ul class="header__bar-list d-flex flex-wrap align-items-center justify-content-center">
           {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
             {%- if section.settings.announcement_bar_link != blank -%}
               <li><a href="{{ section.settings.announcement_bar_link }}">{{ section.settings.announcement_bar_text | escape }}</a></li>
             {%- else -%}
               <li>{{ section.settings.announcement_bar_text | escape }}</li>
             {%- endif -%}
           {%- endif -%}
        </ul>
      </div>
    </div>
  {%- endif -%}
  <div class="header__panel-mobile">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-4 col-lg-3">
          <div class="menu">
            <div class="d-flex d-lg-none align-items-center">
              <a href="#" class="menu__opener menu__btn-opener page-wrapper__opener">
                <span>Menu</span>
              </a>
              <a href="#" class="header__btn d-none d-xs-inline-flex d-lg-none">
                {%- include 'icon' with 'search' -%}
              </a>
            </div>
          </div>
        </div>
        <div class="col-4 col-lg-6">
          <div class="logo">
            <a href="/">
              <img src="{{ 'logo.svg' | asset_url }}" alt="image description">
            </a>
          </div>
        </div>
        <nav class="col-4 col-lg-3 d-flex flex-wrap align-items-center justify-content-end">
          <ul class="header__action-menu d-flex flex-wrap align-items-center justify-content-center">
            <li class="d-none d-lg-block">
              <a href="#" class="header__btn">
                {%- include 'icon' with 'search' -%}
              </a>
            </li>
            <li class="d-none d-xs-block">
              <a href="#" class="header__btn">
                {%- include 'icon' with 'account' -%}
              </a>
            </li>
            <li>
              <a href="#" class="header__btn">
                {%- include 'icon' with 'cart' -%}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="main-menu menu-accordion">
      {% render 'nav-menu' %}
    </ul>
  </div>
</nav>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": false
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
