<section class="hero hero--banner-small{% if section.settings.fullheight %} hero--full-height{% endif %}">
  <div class="hero__img">
    {%- if section.settings.image != blank -%}
      {% render "image",
        src: section.settings.image,
        src_m: section.settings.image_mobile,
        placeholder: 'img-placeholder.png',
        alt: section.settings.image.alt,
        m: '375x',
        d: '1438x'
      %}
    {%- else -%}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>
  <div class="hero__block">
    <div class="container relative h-100">
      <div class="flex h-100 {{ section.settings.alignment }} {{ section.settings.alignment_text }} custom-color">
        <div class="sm:w-10/12 md:w-6/12 lg:w-4/12">
          <div class="rte">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'title' %}
                  <h1>
                    {{ block.settings.title }}
                  </h1>
                {% when 'text' %}
                  {{ block.settings.text }}
                {% when 'button' %}
                  {% if block.settings.button_link != blank and block.settings.button_label != blank %}
                    {% render 'button',
                      href: block.settings.button_link,
                      text: block.settings.button_label
                    %}
                  {% endif %}
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% style %}
  {% if section.settings.color != blank %}
    .custom-color {
      color: {{ section.settings.color }};
    }
    @media screen and (max-width: 767px) {
      .custom-color {
        color: {{ section.settings.color_mobile }};
      }
    }
  {% endif %}

  @media screen and (min-width: 768px) {
    .hero__img::after {
      opacity: 0.4;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Image with text overlay",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image mobile"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Text alignment",
      "default": "items-center justify-center",
      "options": [
        {
          "value": "items-start justify-start",
          "label": "Top left"
        },
        {
          "value": "items-start justify-center",
          "label": "Top center"
        },
        {
          "value": "items-start justify-end",
          "label": "Top right"
        },
        {
          "value": "items-center justify-start",
          "label": "Middle left"
        },
        {
          "value": "items-center justify-center",
          "label": "Middle center"
        },
        {
          "value": "items-center justify-end",
          "label": "Middle right"
        },
        {
          "value": "items-end justify-start",
          "label": "Bottom left"
        },
        {
          "value": "items-end justify-center",
          "label": "Bottom center"
        },
        {
          "value": "items-end justify-end",
          "label": "Bottom right"
        }
      ]
    },
    {
      "type": "select",
      "id": "alignment_text",
      "label": "Alignment regarding text block",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_mobile",
      "label": "Text color mobile",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "fullheight",
      "label": "Full height",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "Title",
      "type": "title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Body text",
          "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
        }
      ]
    },
    {
      "name": "Button",
      "type": "button",
      "settings": [
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link",
          "info": "Button is disabled if empty"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Button label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "category": "Image",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
