{% if section.blocks.size > 0 %}
  <section class="section blog-post-section overflow-hidden">
    <div class="container">
      {% if section.settings.title != blank %}
        <h2 class="mb-4 text-center">
          {{ section.settings.title }}
        </h2>
      {% endif %}
      <div class="md:grid md:grid-cols-3 md:gap-8">
        {% for block in section.blocks %}
          {% assign article = articles[block.settings.article] %}
          {% if article != blank %}
            {% liquid
              if block.settings.enable_lazyload
                assign enable_lazyload = true
                assign fetchpriority_value = 'low'
              else
                assign enable_lazyload = false
                assign fetchpriority_value = 'high'
              endif
            %}
            <article
              class="mb-6 md:mb-0"
              {{ block.shopify_attributes }}
            >
              {% if article.image != blank %}
                <a
                  href="{{ article.url }}"
                  class="image-container mb-2"
                >
                  {%
                    render 'image',
                    src: article.image,
                    m: '345x345',
                    src_d: article.image,
                    d: '448x448',
                    alt: article.image.alt,
                    crop: 'center',
                    lazyload: enable_lazyload,
                    fetchpriority: fetchpriority_value
                  %}
                </a>
              {% endif %}
              <h3>
                <a
                  href="{{ article.url }}"
                  class="inline-block align-top"
                >
                  {{ article.title }}
                </a>
              </h3>
              <div class="mb-3">
                <time datetime="{{ article.published_at | date: "%Y-%m-%d" }}">
                  {{ article.published_at | date: "%b %d %Y" }}
                </time>
              </div>
              <div class="rte mb-3">
                {{ article.excerpt_or_content }}
              </div>
              {% if article.tags.size > 0 %}
                <ul class="mb-3 flex flex-wrap gap-x-3">
                  {% for tag in article.tags %}
                    <li class="mb-2">
                      <a href="/blogs/{{ article.handle | split: '/' | first }}/tagged/{{ tag | handle }}">
                        {{ tag }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              <div class="flex flex-wrap items-center space-x-4">
                {%
                  render 'button',
                  element: 'a',
                  href: article.url,
                  text: 'Read more',
                %}
                {% if article.comments_enabled? %}
                  <a
                    href="{{ article.comment_post_url }}"
                    class="py-2 uppercase"
                  >
                    {% if article.comments_count > 0 and article.comments_count <= 1 %}
                      {{ article.comments_count | append: ' comment' }}
                    {% elsif article.comments_count > 0 %}
                      {{ article.comments_count | append: ' comments' }}
                    {% endif %}
                  </a>
                {% endif %}
              </div>
            </article>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Blog posts",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    }
  ],
  "blocks": [
    {
      "name": "Blog post",
      "type": "article",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        },
        {
          "type": "checkbox",
          "id": "enable_lazyload",
          "label": "Enable lazyload",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Text",
      "blocks": [
        {
          "type": "article"
        },
        {
          "type": "article"
        },
        {
          "type": "article"
        }
      ]
    }
  ]
}
{% endschema %}
