{% if section.settings.image != blank %}
  {% assign image = section.settings.image | image_url %}
{% else %}
  {% assign image = 'img-placeholder.png' | asset_url %}
{% endif %}
<div class="section"
     data-section-type="video"
     data-section-id="{{ section.id }}">
  <div class="container">
    <div class="jquery-background-video-wrapper {{ section.settings.height }}">
      <video class="jquery-background-video" autoplay muted loop playsinline>
        <source src="{{ section.settings.video | default: "https://d2ezlykacdqcnj.cloudfront.net/_assets/home-video/beach-waves-loop.mp4" }}" type="video/mp4">
      </video>
      <div class="video-overlay {{ section.settings.alignment }}" style="background-image: url('{{ image }}');"></div>
      <div class="video-text-block">
        <div class="flex h-100 text-center justify-center items-center">
          <div class="sm:w-10/12 md:w-6/12 lg:w-4/12">
            {% if section.settings.title %}
              {% if section.settings.text_size == 'medium' %}
                <h2>{{ section.settings.title }}</h2>
               {% else %}
                <h2 class="h1">{{ section.settings.title }}</h2>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Video",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Cover image"
    },
    {
      "type": "url",
      "id": "video",
      "label": "Video link",
      "info": "Only direct links to mp4 files"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Image alignment",
      "default": "",
      "options": [
        {
          "value": "background-top-left",
          "label": "Top left"
        },
        {
          "value": "background-top-center",
          "label": "Top center"
        },
        {
          "value": "background-top-right",
          "label": "Top right"
        },
        {
          "value": "background-center-left",
          "label": "Middle left"
        },
        {
          "value": "",
          "label": "Middle center"
        },
        {
          "value": "background-center-right",
          "label": "Middle right"
        },
        {
          "value": "background-bottom-left",
          "label": "Bottom left"
        },
        {
          "value": "background-bottom-center",
          "label": "Bottom center"
        },
        {
          "value": "background-bottom-right",
          "label": "Bottom right"
        }
      ]
    },
    {
      "type": "select",
      "id": "height",
      "label": "Video height",
      "default": "",
      "options": [
        {
          "value": "jquery-background-video-wrapper--small",
          "label": "Small"
        },
        {
          "value": "",
          "label": "Medium"
        },
        {
          "value": "jquery-background-video-wrapper--large",
          "label": "Large"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "default": "medium",
      "options": [
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video",
      "category": "Video"
    }
  ]
}
{% endschema %}
