<div class="section plans">
  <div class="container">
    {% if section.settings.title != blank or section.settings.text != blank %}
      <div class="plans__heading-box text-center">
        {% if section.settings.title != blank %}
          <h2>{{ section.settings.title }}</h2>
        {% endif %}
        {{ section.settings.text }}
      </div>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="plans__items-row">
        <div class="row">
          {% for block in section.blocks %}
            <div class="col-md-4" {{ block.shopify_attributes }}>
              <div class="plan-item text-center">
                {% if block.settings.subtitle != blank %}
                  <div class="mb-2">{{ block.settings.subtitle }}</div>
                {% endif %}
                {% if block.settings.title != blank %}
                  <h3 class="h5 plan-item__title">{{ block.settings.title }}</h3>
                {% endif %}
                <div class="plan-item__img">
                  {% if block.settings.image != blank %}
                    {% render
                      'image',
                      src: block.settings.image,
                      d: '50x',
                      placeholder: 'img-placeholder.png',
                      p_d: '50x',
                      crop: 'center', %}
                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                </div>
                {{ block.settings.features }}
                {% if block.settings.period != blank or block.settings.price != blank %}
                  <ul class="plan-item__price">
                    {% if block.settings.price != blank %}
                      <li>{{ block.settings.price }}</li>
                    {% endif %}
                    {% if block.settings.period != blank %}
                      <li>{{ block.settings.period }}</li>
                    {% endif %}
                  </ul>
                {% endif %}
                {% if block.settings.button_link != blank and block.settings.button_label != blank %}
                  <a href="{{ block.settings.button_link }}" class="button w-100">{{ block.settings.button_label }}</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Plans",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Choose your plan"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Body text",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Plan",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subheading",
          "default": "Internet"
        },
        {
          "type": "html",
          "id": "features",
          "label": "Features",
          "default": "<ul class=\"plan-item__list list-checks text-left\">\n<li>Up to 50Mbps</li>\n<li>Night Turbo-Speed</li>\n<li>WiFi router</li>\n<li>Unlimited devices</li>\n</ul>"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price",
          "default": "$24.99"
        },
        {
          "type": "text",
          "id": "period",
          "label": "Period",
          "default": "month"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Plans",
      "category": "Text",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
