<section
  class="
    hero
    {% if section.settings.enable_full_width %}hero--full-width{% endif %}
    hero--banner-{{ section.settings.image_height }}
    {% if section.settings.fullheight %} hero--full-height{% endif %}
  "
  data-section-id="{{ section.id }}"
  {% if section.settings.fullheight %}
    style="height: calc(100vh - var(--header-height, 80px))"
  {% endif %}
>
  <div class="container relative h-100">
    <div class="hero__img">
      {%- if section.settings.image != blank -%}
        {% liquid
          if section.settings.enable_lazyload
            assign enable_lazyload = true
          else
            assign enable_lazyload = false
          endif
        %}
        {%
          render 'image',
          src: section.settings.image_mobile,
          m: '375x470',
          src_d: section.settings.image,
          d: '1440x560',
          crop: 'center',
          alt: section.settings.image.alt,
          lazyload: enable_lazyload
        %}
      {%- else -%}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
    <div class="hero__block">
      <div class="container relative h-100">
        <div class="flex h-100 {{ section.settings.alignment_mobile }} {{ section.settings.alignment }} {{ section.settings.alignment_text }} custom-color">
          <div class="sm:w-10/12 md:w-6/12 lg:w-4/12">
            <div class="hero__block-content">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'title' %}
                    <h1 class="mb-4" {{ block.shopify_attributes }}>
                      {{ block.settings.title }}
                    </h1>
                  {% when 'text' %}
                    <div class="body-large rte mb-5" {{ block.shopify_attributes }}>
                      {{ block.settings.text }}
                    </div>
                  {% when 'button' %}
                    {% if block.settings.button_link != blank and block.settings.button_label != blank %}
                      {%
                        render 'button',
                        href: block.settings.button_link,
                        text: block.settings.button_label,
                        class: 'mb-5',
                        data_attribute: block.shopify_attributes
                      %}
                    {% endif %}
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% style %}
  {% if section.settings.color.alpha != 0 and section.settings.color != blank %}
    section[data-section-id="{{ section.id }}"] .custom-color {
      color: {{ section.settings.color }};
    }
  {% endif %}
  {% if section.settings.color_mobile.alpha != 0 and section.settings.color_mobile != blank %}
    @media screen and (max-width: 767px) {
      section[data-section-id="{{ section.id }}"] .custom-color {
        color: {{ section.settings.color_mobile }};
      }
    }
  {% endif %}

  section[data-section-id="{{ section.id }}"] .hero__img::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{% endstyle %}

{% schema %}
{
  "name": "Image with text overlay",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "enable_lazyload",
      "label": "Enable lazyload",
      "default": true
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity",
      "default": 0
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image mobile"
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "Banner height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Text alignment",
      "default": "md:items-center md:justify-center",
      "options": [
        {
          "value": "md:items-start md:justify-start",
          "label": "Top left"
        },
        {
          "value": "md:items-start md:justify-center",
          "label": "Top center"
        },
        {
          "value": "md:items-start md:justify-end",
          "label": "Top right"
        },
        {
          "value": "md:items-center md:justify-start",
          "label": "Middle left"
        },
        {
          "value": "md:items-center md:justify-center",
          "label": "Middle center"
        },
        {
          "value": "md:items-center md:justify-end",
          "label": "Middle right"
        },
        {
          "value": "md:items-end md:justify-start",
          "label": "Bottom left"
        },
        {
          "value": "md:items-end md:justify-center",
          "label": "Bottom center"
        },
        {
          "value": "md:items-end md:justify-end",
          "label": "Bottom right"
        }
      ]
    },
    {
      "type": "select",
      "id": "alignment_mobile",
      "label": "Text alignment (mobile)",
      "default": "items-center justify-center",
      "options": [
        {
          "value": "items-start justify-center",
          "label": "Top"
        },
        {
          "value": "items-center justify-center",
          "label": "Middle"
        },
        {
          "value": "items-end justify-center",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "alignment_text",
      "label": "Alignment regarding text block",
      "default": "text-center",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_mobile",
      "label": "Text color mobile",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "fullheight",
      "label": "Show text below images",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "Title",
      "type": "title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Body text",
          "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
        }
      ]
    },
    {
      "name": "Button",
      "type": "button",
      "settings": [
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link",
          "info": "Button is disabled if empty"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Button label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "category": "Image",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
