{% if section.blocks.size > 0 %}
  <section
    class="section text-columns-with-images"
    data-section-id="{{ section.id }}"
  >
    <div class="container overflow-hidden">
      {% if section.settings.title != blank %}
        <h2 class="text-center">{{ section.settings.title }}</h2>
      {% endif %}
      <div class="text-columns-with-images__block grid grid-cols-1 md:grid-cols-2 gap-y-2 md:gap-x-2 xl:gap-x-8">
        {% for block in section.blocks %}
          <div class="block-{{ block.id }} relative">
            <div class="image-container">
              {% if block.settings.image != blank %}
                {%
                  render 'image',
                  src: block.settings.image,
                  d: '413x',
                  src_m: block.settings.image,
                  m: '345x',
                  placeholder: 'img-placeholder.png',
                  alt: block.settings.image.alt
                %}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
            <div class="absolute top-0 left-0 right-0 bottom-0 z-10 flex items-center justify-center flex-col p-5 md:p-10 custom-color">
              {% if block.settings.title != blank %}
                <h2 class="mb-2">{{ block.settings.title }}</h2>
              {% endif %}
              {% if block.settings.copy != blank %}
                <div class="rte mb-3">
                  {{ block.settings.copy }}
                </div>
              {% endif %}
              {% if block.settings.btn_url != blank and block.settings.btn_text != blank %}
                {%
                  render "button",
                  element: 'a',
                  href: block.settings.btn_url,
                  text: block.settings.btn_text,
                %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

<style>
  section[data-section-id="{{ section.id }}"] .custom-color {
    color: #fff;
  }
  {% for block in section.blocks %}
    .block-{{ block.id }} .image-container::after {
      opacity: {{ section.settings.image_overlay_opacity | times: 0.1 }};
    }
    .block-{{ block.id }} .button {
      background-color: {{ block.settings.background_color }};
    }
  {% endfor %}
</style>

{% schema %}
{
  "name": "Text columns with images",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Text columns with images"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "label": "Image overlay opacity",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 7
    }
  ],
  "blocks": [
    {
      "name": "Text column",
      "type": "text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title or tagline"
        },
        {
          "type": "richtext",
          "id": "copy",
          "label": "Copy",
          "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button text",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Button Background Color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text columns with images",
      "category": "Image",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
