<div class="section video-section video-section--full-width"
     data-section-type="iframe-video"
     data-section-id="{{ section.id }}">
  <div {% unless section.settings.enable_full_width %}class="container"{% endunless %}>
    <div class="video-section__holder">
      <div class="video-section__container {% if section.settings.enable_overlay and section.blocks.size > 0 %}video-section__container--overlay{% endif %}">
        {% if section.blocks.size > 0 %}
          <div class="video-section__block {{ section.settings.text_color }}">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'title' %}
                  <h2 class="mb-3" {{ block.shopify_attributes }}>{{ block.settings.title }}</h2>
                {% when 'subheading' %}
                  <div class="mb-4" {{ block.shopify_attributes }}>{{ block.settings.subheading }}</div>
                {% when 'button' %}
                  {% if block.settings.button_link != blank and block.settings.button_label != blank %}
                    {% render
                      'button',
                      element: 'a',
                      href: block.settings.button_link,
                      text: block.settings.button_label,
                    %}
                  {% endif %}
              {% endcase %}
            {% endfor %}
          </div>
        {% endif %}
        <div class="media-block__video"
             data-section-id="{{ section.id }}"
             data-video-type="{{ section.settings.video.type }}"
             data-video-id="{{ section.settings.video.id }}">
          <div class="fluid-iframe">
            <div id="player-{{ section.id }}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Iframe video",
  "settings": [
    {
      "type": "video_url",
      "label": "Video URL",
      "id": "video",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_overlay",
      "label": "Darken video",
      "default": true,
      "info": "(overlay, will be used when text overlay exist)"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "",
      "options": [
        {
          "value": " customizable-base-text",
          "label": "White"
        },
        {
          "value": "",
          "label": "Black"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link",
          "info": "Button is disabled if empty"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Button"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Iframe video",
      "category": "Video",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "subheading"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
