{% liquid
  assign product_placeholder = 'collections.general.product' | t
  assign products_placeholder = 'collections.general.products' | t
%}
<div class="section">
  <div class="container overflow-hidden">
    <div class="page-title-block text-center">
      <h1 class="h2">{{ page_title }}</h1>
    </div>
    {%- comment -%}if collection grid {%- endcomment -%}
    <div class="collection-grid grid grid-cols-2 xl:grid-cols-4 md:gap-8 -mx-4 md:mx-0">
      {% for collection in collections %}
        <div class="collection-item text-center">
          <a
            class="image-container"
            href="{{ collection.url }}"
            title="{{ 'collections.general.link_title' | t: title: collection.title }}"
          >
            {%- comment -%}if collection grid image {%- endcomment -%}
            {% liquid
              assign image = collection.image | default: collection.products[0].featured_image
              if image != blank
                render 'image', src: image, d: '330x412', src_m: image, m: '187x320', alt: image.alt, crop: 'center'
              else
                echo 'image' | placeholder_svg_tag: 'placeholder-svg'
              endif
            %}
          </a>
          <div class="collection-item__box body-large">
            <a
              href="{{ collection.url }}"
              title="{{ 'collections.general.link_title' | t: title: collection.title }}"
              class="no-underline"
            >
              {{- collection.title -}}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    {%- comment -%}if collection scroll {%- endcomment -%}
    <div class="collection-scroll flex space-x-8 xl:grid xl:grid-cols-4 xl:gap-8 xl:space-x-0" style="display:none;">
      {% for collection in collections %}
        <div class="collection-item text-center">
          <a
            class="image-container"
            href="{{ collection.url }}"
            title="{{ 'collections.general.link_title' | t: title: collection.title }}"
          >
            {%- comment -%}if collection grid image {%- endcomment -%}
            {% liquid
              assign image = collection.image | default: collection.products[0].featured_image
              if image != blank
                render 'image', src: image, d: '330x412', src_m: image, m: '251x377', alt: image.alt, crop: 'center'
              else
                echo 'image' | placeholder_svg_tag: 'placeholder-svg'
              endif
            %}
          </a>
          <div class="collection-item__box body-large">
            <a
              href="{{ collection.url }}"
              title="{{ 'collections.general.link_title' | t: title: collection.title }}"
              class="no-underline"
            >
              {{- collection.title -}}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
