{% liquid
    assign product_placeholder = 'collections.general.product' | t
    assign products_placeholder = 'collections.general.products' | t
  %}
  <div class="section page-section">
    <div class="container">
      <div class="page-title-block text-center">
        <h1 class="h2">{{ page_title }}</h1>
      </div>
      <div class="row">
        {% for collection in collections %}
          <div class="col-sm-6 col-lg-3">
            <div class="collection-item text-center">
              <a class="collection-item__img" href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection.title }}">
                {% assign image = collection.image | default: collection.products[0].featured_image %}
                {% render
                  'image',
                  src: image,
                  d: '303x303',
                  src_m: image,
                  m: '375x375',
                  crop: 'center'
                %}
              </a>
              <div class="collection-item__box">
                <h2 class="h4 collection-item__title">
                  <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection.title }}">{{ collection.title }}</a>
                </h2>
                <p>{{ collection.all_products_count }} {{ collection.all_products_count | pluralize: product_placeholder, products_placeholder }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>  