<div class="section">
  <div class="container">
    <h2 class="text-center">Logo list</h2>
    <div class="row justify-content-center">
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="logos-item">
          <a href="#">
            <picture>
              <source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              <img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="logos-item">
          <a href="#">
            <picture>
              <source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              <img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="logos-item">
          <a href="#">
            <picture>
              <source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              <img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="logos-item">
          <a href="#">
            <picture>
              <source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              <img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </picture>
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="logos-item">
          <a href="#">
            <picture>
              <source data-srcset="{{ 'img-placeholder.png' | asset_img_url:'303x' }}, {{ 'img-placeholder.png' | asset_img_url:'606x' }} 2x" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
              <img data-src="{{ 'img-placeholder.png' | asset_img_url:'303x' }}" class="lazyload" data-sizes="auto" alt="image description" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>