{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Newsletter" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the newsletter section
  - Subheading: description of the newsletter section
{%- endcomment -%}

<div class="section">
  <div class="container">
    <div class="md:flex">
      <div class="mx-auto md:w-9/12 lg:w-6/12">
        {% if section.settings.title != blank %}
          <h2 class="mb-4 text-center">
            {{ section.settings.title | escape }}
          </h2>
        {% endif %}
        {% assign form_id = 'newsletter-form-' | append: section.id %}
        {% form 'customer', id: form_id, class: "newsletter-form" %}
          <fieldset>
            <legend class="visually-hidden">Subscribe form</legend>
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
              <div class="messages-success text-center">
                {{ 'general.newsletter_form.confirmation' | t }}
              </div>
            {% else %}
              <input
                type="hidden"
                name="contact[tags]"
                value="newsletter"
              >
              <div class="sm:flex sm:items-center">
                <div class="input-holder w-100 sm:mb-0">
                  <label
                    for="subscribe-form-field"
                    class="visually-hidden"
                  >
                    {{ 'general.newsletter_form.email_placeholder' | t }}
                  </label>
                  <input
                    type="email"
                    name="contact[email]"
                    id="subscribe-form-field"
                    value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    autocorrect="off"
                    autocapitalize="off"
                  >
                </div>
                <button
                  type="submit"
                  name="commit"
                  class="button"
                  id="Subscribe"
                >
                  <span>{{ 'general.newsletter_form.submit' | t }}</span>
                </button>
              </div>
            {% endif %}
          </fieldset>
        {% endform %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Join our mailing list for updates"
    },
    {
      "type": "paragraph",
      "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Promotional"
    }
  ]
}
{% endschema %}
