{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<div class="password-section">
  <div class="password-section__holder">
    <div class="password-section__logo">
      <img src="{{ 'logo.png' | asset_url }}" alt="logo">
    </div>
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <div class="d-md-flex align-items-md-center">
        <input type="password"
          name="password"
          required
          placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
        <button type="submit" class="button" name="commit">
          <strong>
            {{ 'general.password_page.login_form_submit' | t }}
          </strong>
        </button>
      </div>
    {% endform %}
    <p>{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>
</div>

{% comment %}
<h2>{{ 'general.password_page.opening_soon' | t }}</h2>

{% unless shop.password_message == blank %}
  <p>
    {{ shop.password_message }}
  </p>
{% endunless %}

{% form 'customer' %}

  {{ form.errors | default_errors }}

  {% if form.posted_successfully? %}
    <ul class="form-success">
      <li>{{ 'general.password_page.signup_form_success' | t }}</li>
    </ul>
  {% else %}
    <h4>{{ 'general.password_page.signup_form_heading' | t }}</h4>
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <label for="email">
      {{ 'general.password_page.signup_form_email_label' | t }}
    </label>
    <input type="email"
      name="contact[email]"
      id="Email"
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off"
      placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
    <button type="submit" name="commit" class="button">
      {{ 'general.password_page.signup_form_submit' | t }}
    </button>
  {% endif %}
{% endform %}

{% if settings.share_facebook or settings.share_twitter %}
  <p>{{ 'general.password_page.spread_the_word' | t }}</p>
  {% render 'social-sharing' %}
{% endif %}

<a href="#Login">
  {% render 'icon-lock' %}
  {{ 'general.password_page.password_link' | t }} &rarr;
</a>
{% endcomment %}

{% schema %}
{
  "name": "Password"
}
{% endschema %}
