{%- assign current_variant = product.selected_or_first_available_variant -%}
<section data-section-id="{{ section.id }}"
   class="section page-section"
   data-section-type="product"
   id="product"
   data-handle="{{ product.handle }}">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 md-0">
        <div class="swiper-container product-gallery">
          <div class="swiper-wrapper align-items-center">
            {% for media in product.media  %}
              {% render 'product-media' media: media, main: true %}
            {% endfor %}
          </div>
        </div>
        <div class="swiper-container product-gallery-thumbs">
          <div class="swiper-wrapper align-items-center">
            {% for media in product.media  %}
              {% render 'product-media' media: media %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h1 class="product__title">{{ product.title }}</h1>
        <div class="product__vendor mb-1 mb-md-2">{{ product.vendor }}</div>
        {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
          <select name="id" id="size" class="d-none">
            {% for variant in product.variants %}
              <option
                      {% if variant == current_variant %}selected="selected"{% endif %}
                      {% unless variant.available %}disabled="disabled"{% endunless %}
                      value="{{ variant.id }}">
                {{ variant.title }}
              </option>
            {% endfor %}
          </select>
          <div class="product__price">
            <div class="product__price__box d-flex flex-wrap align-items-center" data-price-wrapper>
              <div data-product-price>
                {{ current_variant.price | money }}
              </div>
              {% if product.compare_at_price_max > product.price %}
                <span class="accessibility" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                <del data-compare-price>
                  {% if current_variant.compare_at_price > current_variant.price %}
                    {{ current_variant.compare_at_price | money }}
                  {% endif %}
                </del>
              {% endif %}
            </div>
            <div class="product__price__text">
              <p>Tax included.</p>
            </div>
          </div>
          <div class="product__row">
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <label class="product__label" for="Option{{ option.position }}">
                      {{ option.name }}
                    </label>
                    <select
                        class="product__select w-100"
                        id="Option{{ option.position }}"
                        name="options[{{ option.name | escape }}]">
                      {% for value in option.values %}
                        <option
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              {% endfor %}
            {% endunless %}
            <div>
              <label class="product__label" for="Quantity">{{ 'products.product.quantity' | t }}</label>
              <input type="number" id="Quantity" name="quantity" value="1" min="1">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="product__row">
                <button
                  type="submit"
                  name="add"
                  class="w-100"
                  data-submit-button
                  {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                  <span data-submit-button-text>
                    {% if current_variant.available %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% else %}
                      {{ 'products.product.sold_out' | t }}
                    {% endif %}
                  </span>
                </button>
              </div>
              <div class="product__row">
                {{ form | payment_button }}
              </div>
            </div>
          </div>
        {% endform %}

        <div class="product__row rte">
          {{ product.description }}
        </div>

        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
