{% paginate search.results by 24 %}
  <div class="section">
    <div class="container">
      <div class="page-title-block text-center">
        <h1 class="h3">
          {% if search.performed %}
            <span class="accessibility">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
            {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
          {% else %}
            {{ 'general.search.title' | t }}
          {% endif %}
        </h1>
      </div>
      <div class="sm:flex">
        <div class="sm:w-8/12 md:w-6/12 sm:mx-auto">
          <form action="/search" method="get" role="search" class="page-search-form">
            <fieldset>
              <legend class="visually-hidden">Search form</legend>
              <div class="flex items-center">
                <label for="search-field" class="visually-hidden"> Search on store </label>
                <input
                  type="search"
                  name="q"
                  id="search-field"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.placeholder' | t }}"
                >
                {% comment %}theme-check-disable{% endcomment %}
                {%
                  render 'button',
                  element: 'button',
                  class: 'btn page-search-form__button flex items-center',
                  text: 'Search on store',
                  snippet: true,
                  icon: 'search',
                  type: 'submit'
                %}
                {% comment %}theme-check-enable{% endcomment %}
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      {% if search.performed %}
        <div class="section">
          {% if search.results_count == 0 %}
            <div class="text-center">
              <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
            </div>
          {% else %}
            {% for item in search.results %}
              <div class="search-item">
                <div class="flex items-center justify-center space-x-8">
                  <div class="w-3/12 md:w-2/12 xl:w-1/12">
                    <a href="{{ item.url | within: collection }}">
                      {% assign featured_image = item.image | default: item.featured_image %}
                      {%
                        render 'image',
                        src: featured_image,
                        m: '75x',
                        src_d: featured_image,
                        d: '118x',
                        alt: featured_image.alt
                      %}
                    </a>
                  </div>
                  <div class="w-9/12 md:w-8/12 xl:w-7/12">
                    <div class="md:flex md:justify-between md:items-center md:space-x-8">
                      <div class="md:w-6/12 mb-3 md:mb-0">
                        <h2 class="search-item__title">
                          <a href="{{ item.url }}">{{ item.title }}</a>
                        </h2>
                      </div>
                      <div class="md:w-6/12">
                        {% if item.object_type == 'product' %}
                          <div class="search-item__price">
                            {% if item.compare_at_price > item.price %}
                              {% if item.price_varies %}
                                {% assign sale_price = item.price | money %}
                                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                              {% else %}
                                {{ 'products.product.on_sale' | t }}
                                <ins>{{ item.price | money }}</ins>
                              {% endif %}
                              <span class="accessibility">{{ 'products.product.regular_price' | t }}</span>
                              <del>{{ item.compare_at_price | money }}</del>
                            {% else %}
                              {% if item.price_varies %}
                                {% assign price = item.price | money %}
                                <span>{{ 'products.product.from_text_html' | t: price: price }}</span>
                              {% else %}
                                <span>{{ item.price | money }}</span>
                              {% endif %}
                            {% endif %}
                            {% unless item.available %}
                              {{ 'products.product.sold_out' | t }}
                            {% endunless %}
                          </div>
                        {% else %}
                          <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endpaginate %}

{% schema %}
{
  "name": "Search"
}
{% endschema %}
